* {
    box-sizing: border-box;
}
a { -webkit-transition: all 200ms linear; -moz-transition: all 200ms linear; -o-transition: all 200ms linear; transition:all 200ms linear; cursor:pointer; text-decoration:none; }
textarea{ resize:none;}
a:hover, a:active { text-decoration:none; }
a:focus { text-decoration:none; outline:none; }
::-moz-selection { color: #fff; background:#ef5555; text-shadow:none;}
::selection { color: #fff; background:#ef5555; text-shadow:none; }
p { display:block; padding:10px 0px; }
.clear { clear:both; height:0px; line-height:0px; font-size:0px; margin:0px; padding:0px; display:block; }
.clear5 { display:block; height:5px; line-height:0px; font-size:0px; clear:both; }
.clear10 { display:block; height:10px; line-height:0px; font-size:0px; clear:both; }
.clear20 { display:block; height:20px; line-height:0px; font-size:0px; clear:both; }
.clear40 { display:block; height:40px; line-height:0px; font-size:0px; clear:both; }
input {outline: 0}
header, section, aside, nav, footer { display:block; }
h1, h2, h3, h4, h5, h6 { display:block; margin:0; padding:0; }
img { max-width:100%; }
ul { display:block; margin:0; padding:0; list-style:none; }
body {font-family: 'Montserrat', sans-serif; padding: 0; margin: 0; }

.wrapper {
    height: 100vh;
    padding: 0 0 30px;
}

.header {
    display: block;
    background: #f16022;
    position: relative;
    line-height: 69px;
    box-shadow: 0 0 5px #000;
    margin-bottom: 30px;
    color: #fff;
}

.header .logo {
    position: absolute;
    top: 0;
    left: 0;
}
.header .container {
    padding: 0 0 0 60px;
    font-weight: 500;
    font-size:18px; 
}


.container {
    max-width: 970px;
    margin: auto;
}

.packbox {
    display: block;
    padding: 30px 30px 0;
    border: 1px solid #ddd;
    margin-bottom: 15px;
    border-radius: 4px;
	position:relative;
}
.packbox .title {
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    padding-bottom: 30px;
}

.pack_body p {
    margin: 0 0 15px;
}
.packbox .title span {
    display: block;
    font-size: 14px;
    font-weight: 500;
    color: #888;
}

.packbox .pack_body {
    display: none;
    width: 100%;
}

.packbox .pack_body p strong {
    display: block;
    padding: 0 0 10px 0;
}

.packbox .pack_body .pack_ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.packbox  .pack_ul li {
    width: 33.3333333%;
    margin: 0 0 15px;
    padding: 0 0 0 20px;
    position: relative;
    font-size: 13px;
    font-weight: 500;
    cursor: pointer;
}

.packbox  .pack_ul li.active {
    color: #ef5555;
}

.packbox  .pack_ul li:before {
    content: "\f105";
    font-family: 'FontAwesome';
    position: absolute;
    left: 0;
}

.select_appointmentdate {
    display: block;
    margin: 0 -30px 0 ;
    border-top: 1px solid #ddd;
    padding:30px;
    background: #f8f8f8;
    min-width: 100%;

}

.select_appointmentdate li {
    font-size: 13px;
    font-weight: 500;
    margin: 0 0 15px;
    display: inline-block;
    width:49%;
    
}
.select_appointmentdate li.test-name{
    display: block;
    font-size: 20px;
    padding-bottom: 10px;
    width: 100%;
}
.select_appointmentdate li label {
    display: block;
}
.select_appointmentdate li input, .select_appointmentdate li select {
    width: 100%;
    height: 30px;
    outline: 0;
    border-radius: 4px;
    border: 1px solid #ddd;
    padding: 0 15px;
}

.select_appointmentdate li:last-child{
    width: 100%;
}
.select_appointmentdate li a {
    background: green;
    display: inline-block;
    padding: 7px 20px;
    border-radius: 5px;
    color: #fff;

}

div#popUpModal {
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(0,0,0,0.8);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s;
}
div#popUpModal.open {
    visibility: visible;
    opacity: 1;
}

.modal-body {
    max-width: 340px;
    padding: 15px;
    background: #fff;
    text-align: center;
    font-size: 14px;
    position: relative;
    line-height: 1.7;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
}

button.close {
    position: absolute;
    right: -10px;
    top: -15px;
    width: 30px;
    height: 30px;
    background: red;
    color: #fff;
    border: 0;
    border-radius: 50%;
    cursor: pointer;
    outline: 0;
}

.greenColor {
    color:#1abc9c !important;
}

.blueColor {
    color: #3498db !important;
}

.magentaColor {
    color: #8e44ad !important;
}

.orangeColor {
    color: #e67e22 !important;
}

h1 {
    padding: 0 0 25px 0;
    font-size: 22px;
    color: #333;
}

.bookapoinment {
    background-color: #1abc9c !important;
    display: inline-block;
    max-width: 300px;
    margin: 30px 0;
    text-align: center;
    color: #fff;
    padding: 10px 15px;
    border-radius: 4px;
    outline: 0;
    border: 0;
    cursor: pointer;
}


.form_block {
    display: block;
}

.form-group {
    display: block;
    margin-bottom: 15px;
}
.form-group  label {
    display: block;
    font-size: 13px;
    font-weight: 500;
    padding:0 0 5px;
}

textarea {
    width: 70%;
    border-radius:5px; 
}


.tabs {
    display: block;
    padding-bottom: 20px;
}

.tabs a {
    display: inline-block;
    border-radius: 5px;
    border: 1px solid ;
    margin-right: 10px;
    padding: 10px 10px;
    font-size: 13px;
    color: #f16022;
}
.tabs a.active {
    background: #f16022;
    color: #fff;
}

a.homebtn {
    float: right;
    color: #fff;
}

.bookapoinment {
    background-color: #1abc9c !important;
    display: inline-block;
    max-width: 300px;
    margin: 30px 0;
    text-align: center;
    color: #fff;
    padding: 10px 15px;
    border-radius: 4px;
    outline: 0;
    border: 0;
    cursor: pointer;
    margin: auto;
    float: right;
    position: relative;
    top: -30px;
    font-size: 12px;
}

.slect-city-box .selectCity, .slect-city-box label {
	display:inline-block !important;
	max-width:50%;
}
.slect-city-box label {
	margin-right:10px;
}
.slect-city-box .selectCity {
	border:1px solid #ddd;
	min-width:200px;
	outline:0;
	height:35px;
	padding:0 15px;
	border-radius:4px;
}

.slect-city-box.inside {
	position: absolute;
	right: -14px;
	top: 16px;
}