* {
    box-sizing: border-box;
}
a { -webkit-transition: all 200ms linear; -moz-transition: all 200ms linear; -o-transition: all 200ms linear; transition:all 200ms linear; cursor:pointer; text-decoration:none; }
textarea{ resize:none;}
a:hover, a:active { text-decoration:none; }
a:focus { text-decoration:none; outline:none; }
::-moz-selection { color: #fff; background:#ef5555; text-shadow:none;}
::selection { color: #fff; background:#ef5555; text-shadow:none; }
p { display:block; padding:10px 0px; }
.clear { clear:both; height:0px; line-height:0px; font-size:0px; margin:0px; padding:0px; display:block; }
.clear5 { display:block; height:5px; line-height:0px; font-size:0px; clear:both; }
.clear10 { display:block; height:10px; line-height:0px; font-size:0px; clear:both; }
.clear20 { display:block; height:20px; line-height:0px; font-size:0px; clear:both; }
.clear40 { display:block; height:40px; line-height:0px; font-size:0px; clear:both; }
input {outline: 0}
header, section, aside, nav, footer { display:block; }
h1, h2, h3, h4, h5, h6 { display:block; margin:0; padding:0; }
img { max-width:100%; }
ul { display:block; margin:0; padding:0; list-style:none; }

$mainColor      :#f44000;
$secondColor    :#0098ab;
$darkgreyColor  :#333;
$lightgreyColor :#777;
$frtColor       :#143250;
$roboto         :'Roboto Condensed', sans-serif;

@function calculateRem($size) {
    $remSize: $size / 16px;
    @return #{$remSize}rem;
}
@mixin fontSize($size) {
    font-size: calculateRem($size);
}

@mixin placeholder {
    &::-webkit-input-placeholder {
        @content;
    }

    &:-moz-placeholder { /* Firefox 18- */
        @content;
    }

    &::-moz-placeholder {  /* Firefox 19+ */
        @content;
    }

    &:-ms-input-placeholder {
        @content;
    }
}

.heading_main {
    display: block;
    text-align: center;
    @include fontSize(30px);
    color: #333;
    text-transform: uppercase;
    font-weight: 700;
}


.subtitle {
   text-align: center;
  @include fontSize(20px);
   font-weight: 300; 
   letter-spacing: -0.4px;
   padding-top: 5px;
   color: $lightgreyColor;
}


@-webkit-keyframes slideInDown {
    from {
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
      visibility: visible;
    }
  
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  @keyframes slideInDown {
    from {
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
      visibility: visible;
    }
  
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }

  #gotop {
	position: absolute;
	right: 15px;
	bottom: 15px;
	cursor: pointer;
}

.smalltitle {
    @include fontSize(16px);
    font-weight: 700;
    font-family: $roboto;
    padding: 10px;
    text-transform: uppercase;
}

.smallBorder {
    border-bottom: 1px solid lighten($lightgreyColor, 45%);
}

.btn_red {
    display: inline-block;
    background: lighten($mainColor, 10%);
    color: #fff;
    @include fontSize(12px);
    text-transform: uppercase;
    font-weight:600; 
    min-width: 160px;
    text-align: center;
    padding: 10px 20px;
    border-radius: 4px;
    border: 0;
    transition: all 200ms;
    cursor: pointer;
    outline: 0;
    &:hover {
        background: $secondColor;
    }
}

.btn_green {
    display: inline-block;
    background: lighten($secondColor, 10%);
    color: #fff;
    @include fontSize(12px);
    text-transform: uppercase;
    font-weight:600; 
    min-width: 160px;
    text-align: center;
    padding: 10px 20px;
    border-radius: 4px;
    border: 0;
    transition: all 200ms;
    cursor: pointer;
    outline: 0;
    &:hover {
        background: $mainColor;
    }
}


body {font-family: 'Open Sans', sans-serif; color:$lightgreyColor; padding: 0; margin: 0; }



 

