@import 'reset'; 

.container {max-width:1250px; margin: auto;}
.header{display: block;}
.top_header {
    background: $secondColor;
    overflow: hidden;
        .container {
            display: flex;
            flex-wrap: wrap;             
                ul{
                    display: flex;
                    li{
                        a {
                            @include fontSize(12px);
                            color: #fff;
                            display: block;
                            padding: 10px;
                            &:hover{
                                color:lighten($secondColor, 20%);
                            }
                        }
                        &:first-child a{
                            padding-left:0 
                        }
                    }
                }
            
        }

        .left_top{
            width: 50%;
        }
        .right_top{
            width: 50%;
            ul{
                width: 100%;
                justify-content: flex-end;
                li{
                    &:last-child a{
                        padding-right:0 
                    }
                }
            }
        }
}


.logo_block {
    display: block;
    padding: 5px 0;
    .container{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        ul.top_nav {
            display: flex;
            align-items: center;
            li {
                a {
                    display: block;
                    @include fontSize(14px);
                    color: lighten($lightgreyColor, 10%);
                    padding: 0 20px;
                    i {
                        color: lighten($mainColor, 30%);
                        transition: all 0.3s;
                    }
                    &:hover, &:hover i {
                        color: $mainColor;
                    }
                }
            }
        }
    }
}

.banner_block {
    display: block;
    background: url('../img/banner_bg.jpg') #42505e;
    border-top: 2px solid  lighten($mainColor, 30%);
    .container{
        display: flex;
        flex-wrap: wrap;
        .banner_img {
            padding: 15px 0 0 0;
            width: 384px / 1250px * 100%;
            img {
                display: block;
            }
        }

        .filter_section{
            width: 800px / 1250px * 100%;
            padding-top: 128px;
            margin: 0 0 0 30px;

            .search_tabs {
                display: flex;
                padding-top:24px; 
                li {
                    min-width: 12%;
                    text-align: center;
                }
                img {
                    max-height: 20px;
                }
                
                a {
                    font-family: $roboto ;
                    @include fontSize(12px);
                    color: #fff;

                    &.active  .img_block {
                        background: $mainColor;   
                   
                    }

                    .img_block {
                        width: 55px;
                        height: 55px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background: #fff;
                        border-radius: 50%;
                        margin: auto;
                        transition: all 0.3s;
                        &:hover {
                            background: lighten($mainColor, 45%);
                            transform: translateY(-5px);
                        }
                        
                    }
                }
            }

            h1 {
                @include fontSize(30px);
                font-weight: 700;
                text-transform: uppercase;
                color: #fff;
            }

            .filter_form_block {
                display: block;
                padding-top: 21px;
                .filter_form{
                    display: flex;
                    width: 100%;
                    .form_group{
                        position: relative;

                        img{
                            max-height: 24px;
                            position: absolute;
                            left: 10px;
                            top: 50%;
                            transform: translateY(-50%);
                        }
                    }
                    .location{
                        min-width: 150px;
                        background: #fff;
                        line-height: 50px;
                        padding-left: 40px;
                        font-weight: 300;
                        @include fontSize(14px);
                        cursor: pointer;
                    }

                    .select_category{
                        min-width: 450px;
                        background: #fff;
                        line-height: 50px;
                        position: relative;
                        padding-left: 10px;
                        &:before {
                            content: '';
                            width: 1px;
                            height: calc(100% - 10px);
                            top: 5px;
                            left: 0;
                            position: absolute;
                            background: #ddd;
                        }
                        input{
                            border: 0;
                            width: 100%;
                            @include fontSize(14px);
                            @include placeholder{
                                color:#888;
                                opacity: 1;
                                font-family: 'Open Sans', sans-serif; 
                                font-weight: 300;
                            }
                        }
                    }

                    .filter_btn {
                        min-width: 130px;
                        background: $mainColor;
                        button{
                            background: none;
                            border: 0;
                            display: block;
                            text-align: center;
                            line-height: 50px;
                            width: 100%;
                            text-transform: uppercase;
                            @include fontSize(14px);
                            color: #fff;
                            font-weight: 700;
                            font-family: 'Open Sans', sans-serif; 
                            cursor: pointer;
                            img{
                                max-height: 22px;
                                position: static;
                                transform: translate(4px, 5px);
                            }
                        }
                    }
                    
                }
            }
        }
    }
}


#location-modal {
    position: fixed;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
	background: rgba(0,0,0,0.5);
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
    .modal-body {
        top: 100px;
        left: 50%;
        background: #fff;
        min-width: 540px;
        padding: 30px;
        border-radius: 10px;
        box-shadow: 0 0 5px rgba(black, 0.2);
        position: absolute;
        max-width: 540px;
        margin-left: -270px;
        .close{
            width: 30px;
            line-height: 30px;
            border-radius: 50%;
            text-align: center;
            position: absolute;            
            top: -10px;
            color: #fff;
            background: lighten($mainColor, 20%);
            right: -10px;
            cursor: pointer;
        }
        &.slideInDown{
            animation:slideInDown 0.3s;
        }
    }
    &.open{
        opacity: 1;
        visibility: visible;
    }
    .modal-top-bar {
        display: flex;
        justify-content: space-between;
        input {
            border: 1px solid #ddd;
            padding: 0 15px 0;
            height: 32px;
            border-radius: 4px;
            @include placeholder{
                opacity: 1;
                font-family: 'Open Sans', sans-serif; 
                font-weight: 300;
            }
        }
    }
    ul {
        display: flex;
        flex-wrap: wrap;
        margin: 20px 0 0 0;
        max-height: 200px;
        overflow: auto;
        a {
            font-size: 0.75rem;
            display: block;
            border: 1px solid $mainColor;
            margin: 5px;
            border-radius: 5px;
            padding: 5px;
            color: $mainColor;
            @include fontSize(11px);
            &:hover{
                border: 1px solid $secondColor;
                color: $secondColor;
            }
            &.active{
                border: 1px solid $secondColor;
                color: $secondColor;
            }
        }
    }
}

.discover_the_block {
    display: block;
    padding: 48px 0 60px; 

    .step_container {
        display: flex;
        flex-wrap: wrap;
        margin:0 -17px;
        padding-top: 55px;

        .step_box {
            width: calc(33.333333333% - 34px);
            margin: 0 17px;
            text-align: center;
            box-shadow: 0 0 13px rgba(black, 0.18) ;
            padding: 60px 40px;
            box-sizing: border-box;
            transition: all 0.3s;

            img {
                max-height: 109px;
            }

            .d_title {
                @include fontSize(20px);
                text-transform: uppercase;
                font-weight: 600;
                padding: 6px 0 8px;
                color: $mainColor;
            }
            &:nth-child(2) .d_title {
                color: $secondColor;
            }

            &:hover{
                transform: translateY(-10px);
                background:lighten($mainColor, 50%);
            }

            .d_text {
                font-weight: 300;
                letter-spacing: -0.32px;
            }


        }
    }
}



.business_solutions {
    display: block;
    padding: 48px 0 0; 
    background: url('../img/business_solutions_bg.jpg') #d0f0fa;
    background-attachment: fixed;
    background-size: cover;
    .business_solutions_image {
        display: block;
        text-align: center;
        margin: 36px 0 0 0;
        img {
            margin: auto;
            display: block;
        }
    }
}

.care_mediwheel {
    padding: 48px 0 60px; 
    background: url('../img/care_mediwheel.jpg');
    background-size:100%;
    background-attachment: fixed;
    p {
        text-align: center;
        font-weight: 300;
        letter-spacing: -0.32px;
        padding: 0 120px;

    }

    .box {
        max-width: 1070px;
        padding-top:40px;
        margin: auto;
        display: flex;
        text-align: center;
        .left_box {
            width:calc(33.33333333% - 20px);
            margin: 10px;
            p {
                padding: 0;
            }
            &.center .box_inside{
                min-height: 412px;
            }
            .box_inside{
                box-shadow: 0 0 5px rgba(black, 0.18);
                margin-bottom: 20px;
                padding: 20px;
                transition: all 0.3s;
                &:hover{
                    transform: translateY(-10px);
                    background: lighten($mainColor, 50%);

                    a {
                        img {
                            transform: rotate(360deg);
                        }
                    }

                    .careicomn {
                        img {
                            filter: brightness(0)
                        }
                    }
    
                }

                

                .careicomn {
                    img {
                        max-height: 70px;
                        transition: all 0.4s;
                    }
                }

                .title {
                    @include fontSize(18px);
                    color: #333;
                    font-weight: 700;
                    padding: 10px 0;

               }

                a {
                    img {
                        max-width: 44px;
                        margin: 6px 0 0 0;
                        transition: all 0.5s;
                    }
                }
            }
        }
    }
}

.client_talsk {
    display: block;
    padding: 48px 0 60px; 
    background:url('../img/clients_bg.jpg') no-repeat $mainColor;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    color: #fff;
    .heading_main, .subtitle {
        color: #fff;
    }

    .client_slider {
        margin: 50px auto  0 auto;
        max-width: 1070px;

        .clientslide {
            display: flex;
            flex-wrap: wrap;
        } 
        .img_slide {
            img {
                border: 2px solid #ddd;
                max-width: 94px;
                max-height: 94px;
                padding: 5px;
                border-radius: 50%;
            }
        }

        .text {
            width: calc(100% - 100px);
            padding-left: 20px;
            @include fontSize(14px);
            line-height: 1.6;
            strong {
                display: block;
            }
        }


        .owl-prev, .owl-next {
            position: absolute;
            top: 25%;
            transform: translateY(-25%);
            overflow: hidden;
            text-indent: -10000px;
            width: 38px;
            height: 38px;
            background:url('../img/left_arw.png')  no-repeat;
            left: -70px;
            opacity: 0.5;
            transition: all 0.3s;
            &:hover{
                opacity: 1;
            }
        }

        .owl-next {
            background:url('../img/right_arw.png')  no-repeat;
            left: inherit;
            right: -70px;
        }

        .owl-dots {
            text-align: center;
            padding: 40px 0 0 0;
            .owl-dot {
                width: 18px;
                height: 18px;
                border: 2px solid #fff;
                display: inline-block;
                border-radius: 50%;
                margin: 0 3px;
                &.active {
                    background: $mainColor;
                }
            }
        }

    }

}

.footer {
    display: block;
    background: url('../img/ftr_bg.png') no-repeat #0e2a47;
    background-position: 0 0;

    .container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 60px 0;
    }

    .ftr_left{
        width: 640px / 1250px * 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        strong {
            color: #fff;
            @include fontSize(15px);
            padding-bottom: 10px;
            display: block;
        }
        a {
            color: #fff;
            display: block;
            @include fontSize(14px);
            padding: 2px 0;
            &:hover{
                color: lighten($secondColor, 30%);
            }
        }
    }
    .ftr_right{
        width: 560px / 1250px * 100%;
        background:#dee4ea;
        border-radius: 10px;
        text-align: center;
        padding: 30px;

        .title{
            @include fontSize(20px);
            color: #333;
            font-weight: 700;
            padding-bottom: 20px;
        }

        .socilftr {
            display: flex;
            justify-content: center;
            padding: 10px 0 0 0;
            a {
                display: inline-block;
                width: 30px;
                line-height: 30px;
                background: #000;
                color: #fff;
                margin: 5px;
                border-radius: 50%;
                text-align: center;
                &:hover{
                    transform: translateY(-7px);
                }
                
            }

            li{
                &:nth-child(1) a {background: #3b5998; &:hover{background: rgba(#3b5998, 0.9)}} 
                &:nth-child(2) a {background: #55acee; &:hover{background: rgba(#55acee, 0.9)}} 
                &:nth-child(3) a {background: #db402c; &:hover{background: rgba(#db402c, 0.9)}} 
                &:nth-child(4) a {background: #cb2027; &:hover{background: rgba(#cb2027, 0.9)}} 
            }
        }
    }

    .copyright {
        display: block;
        border-top:1px solid rgba(white, 0.2) ;
        position: relative;
        padding: 25px 0;
        color: #77aee6;
        @include fontSize(14px);
        .container{
            padding: 0;
        }

        a {
            color: #77aee6;
            &:hover{
                color: #fff;
            }
        }


    }

}


/*----------------------- Medicine List Page css -------------------------------------*/

.banner_block.list_banner {
    .filter_section {
        padding: 10px 0 30px 0;
    }
}

.inner_body_wrapper {
    background:#f6f6f6;
    min-height: 800px;
}

.featured {
    display: block;
    border-bottom:1px solid lighten($lightgreyColor, 40%) ;
    margin: 0 0 20px 0;
    background: #fff;

    & > ul {
        display: flex;
        justify-content: center;
        position: relative;
        & > li > { 
                
            a {
                @include fontSize(14px);
                font-family: $roboto;
                display: inline-block;
                padding: 10px 25px;
                color: darken($lightgreyColor, 20%);
                position: relative;

                &:hover{
                    color: $mainColor;                    
                }

                

                &:after{
                    content: "\f107";
                    position: absolute;
                    right: 3px;
                    font-family: 'FontAwesome';

                }

             }

             ul.f_submenu {
                position: absolute;
                background: #fff;
                padding: 10px;
                min-width: 200px;
                display: none;
                box-shadow: 0 2px 5px $lightgreyColor;
                z-index: 999;
                a {
                    @include fontSize(12px);
                    color: $lightgreyColor;
                    &:hover{
                        color: $mainColor;
                        border-bottom: 1px solid lighten($lightgreyColor, 30%) ;
                    }
                }
            }

            

        }


        & > li:hover {
            ul.f_submenu  {
                display: block;
            }
        }
    }
}


.list_wrapper {
    display: block;

    .left_filter {
        width: 188px / 1250px * 100%;
        background: #fff;
        min-height: 600px;
    }

    .filer_box {
        display: block;
        padding: 10px;
        border-bottom: 1px solid lighten($lightgreyColor, 30%); 
        .brans_filter_input  {
            input {
                border-radius: 4px;
                border: 1px solid lighten($lightgreyColor, 30%);
                padding: 0 10px;
                height: 35px;
                width: 100%;
            }
        }
    }

    .flite_item {
        display: block;
        max-height: 300px;
        overflow: auto;
        @include fontSize(12px);
        label{
            display: block;
            margin: 5px 0;
            span {
                float: right
            }
        }

    }
    .list_body {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

}

.breadcrumb_blok {
    display: block;
    ul {
        display: flex;
        @include fontSize(12px);
         li {
             display: block;
             position: relative;
            a {
                color: $mainColor;
                &:hover{
                    color: $secondColor;
                }
             }
             &:after{
                content: "\f105";
                font-family: 'FontAwesome';
                margin: 0 5px;
             }
             &:last-child:after {
                 display: none
             }
         }
    }
}


.product_row {
    width: 1032px / 1250px * 100%;

    

    .titlebar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        h1 {
            @include fontSize(24px);
            font-weight: 400;
            color: darken($lightgreyColor, 30%);
            span {
                display: inline-block;
                vertical-align: middle;
                @include fontSize(12px);
                font-weight: 400;
                color: $lightgreyColor;
                font-family: $roboto;
            }
        }
        .sortBy {
            display: flex;
            align-items: center;
            @include fontSize(14px);
            color: darken($lightgreyColor, 30%);
            .inputBox {
                margin: 0 0px 0 5px; 
                select {
                    outline: 0;
                    height: 32px;
                }
            }
        }
    }

   
} 


.product_wrapper {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	margin: 30px -10px;
    @include fontSize(13px);
     a {
         color: $lightgreyColor;
         .pro_name {
             padding:0 10px;
             font-family: $roboto;
             @include fontSize(16px);
             color: darken($lightgreyColor, 20%)
         }
         .pro_detail {
             padding: 0 10px;
         }
         .price_details {
            padding: 10px 10px 0; 
            .proce {
                text-decoration: line-through;
            }
            .offer_price {
                display: block;
                @include fontSize(20px);
                color: darken($lightgreyColor, 30%);
            }
            .discount {
                color: #0cc00c;
                padding-left: 5px;
            }
         }
     }
    .product_box {
        width: calc(25% - 20px);
        background: #fff;
        margin: 10px;
        box-shadow: 0 0 10px lighten($lightgreyColor, 45%); 
        .image_box {
            text-align: center;
            padding: 20px 0 20px;
            img{
                height: 150px;
                width: 150px;
                object-fit: cover;
            }
        }

        .proIcons {
            display: flex;
            justify-content: space-between;
            border-top: 1px solid lighten($lightgreyColor, 45%);
            margin-top: 20px;

            a {
                display: block;
                width: 33.333333333%;
                text-align: center;
                padding: 10px 0;
                border-right: 1px solid lighten($lightgreyColor, 45%);
                @include fontSize(18px);

                &.viewDetails {
                    position: relative;
                    &:after{
                        content: 'View Detail';
                        min-width: 90px;
                        line-height: 24px;
                        background: $mainColor;
                        color: #fff;
                        text-align: center;
                        @include fontSize(10px);
                        top: -20px;
                        position: absolute;
                        right: 0;
                        text-transform: uppercase;
                        border-radius: 4px;
                        opacity: 0;
                        visibility: hidden;
                        transition: all 0.3s;
                    }
                    &:hover:after {
                        opacity: 1;
                        visibility: visible;
                    } 
                }

                &.wishList {
                    position: relative;
                    &:after{
                        content: 'Add to Wishlist';
                        min-width: 96px;
                        line-height: 24px;
                        background: $secondColor;
                        color: #fff;
                        text-align: center;
                        @include fontSize(10px);
                        top: -20px;
                        position: absolute;
                        left: 0;
                        text-transform: uppercase;
                        border-radius: 4px;
                        opacity: 0;
                        visibility: hidden;
                        transition: all 0.3s;
                    }
                    &:hover{
                        color: $secondColor;
                    }
                    &:hover:after {
                        opacity: 1;
                        visibility: visible;
                    } 
                }
                &:last-child {
                    border: 0;
                    position: relative;
                    &:after{
                        content: 'Add to Cart';
                        min-width: 90px;
                        line-height: 24px;
                        background: #f44000;
                        color: #fff;
                        text-align: center;
                        @include fontSize(10px);
                        top: -20px;
                        position: absolute;
                        left: 0;
                        text-transform: uppercase;
                        border-radius: 4px;
                        opacity: 0;
                        visibility: hidden;
                        transition: all 0.3s;
                    }
                    &:hover:after {
                        opacity: 1;
                        visibility: visible;
                    }
                }
                &:hover{
                    color: $mainColor;
                }

                
            }
        }

    }
}

.pagenation_wrapper {
    padding: 0 0 60px;
     ul {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        background: #fff;
        border-radius: 4px;
        padding: 15px 0;
        box-shadow: 0 2px 2px rgba(0,0,0,0.1);
    
        li {
            margin: 0 5px;
            a {
                color: darken($lightgreyColor, 30%);
                @include fontSize(12px);
                &:hover{
                    color: $secondColor;
                }
            }

            &:first-child a,  &:last-child a {
                width: 30px;
                line-height: 30px;
                background: $mainColor;
                color: #fff;
                display: block;
                text-align: center;
                border-radius: 50%;
                @include fontSize(16px);

                &:hover {
                    background: $secondColor;

                }
            }
        }
    }
}
  

.cartDetails {
	background: $secondColor !important;
	position: relative;
	width: 40px;
	line-height: 40px;
	text-align: center;
    border-radius: 50%;
    padding: 0 !important;
    i {
        color: #fff !important; 
    }
    .count {
        position: absolute;
        background: $mainColor;
        width: 20px;
        line-height: 20px;
        color: #fff; 
        text-align: center;
        border-radius: 50%;
        @include fontSize(10px);

    }
}

.cartDetails_li {
    position: relative;
        a {
            display: inline-block !important;
        }
        .UserName {
            display: inline-block;
            @include fontSize(14px);
            color: lighten($lightgreyColor, 10%);
            padding-left: 5px;
        }
    
    .itemsummyBox {
        position: absolute;
        right: 0;
        min-width: 300px;
        background: #fff;
        top: 104%;
        z-index: 999;
        box-shadow: 0 2px 5px darken($lightgreyColor, 5%);
        visibility: hidden;
        opacity: 0;
        

        .itemSummry {
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid #ddd;
            padding: 10px;
            @include fontSize(14px);
            color: darken($lightgreyColor, 40%);
            font-weight: 600;
        }

        ul.itemsList {
            max-height: 200px;
            overflow: auto;
            padding: 10px;
            li {
               a{
                display: flex;
                justify-content: space-between;
                flex-direction: row;
                padding: 5px 0;
                @include fontSize(12px);
                color: darken($lightgreyColor, 20%);
                span {
                    font-weight: 700;
                }
               }
            }
        }

    }

    &:hover .itemsummyBox  {
        visibility: visible;
        opacity: 1;
    }

    .proccedtoCheck {
        display: block;
        text-align: center;
        border-top: 1px solid #ddd;
        padding: 20px 0;
        a {
            border-radius: 4px;
            display: inline-block;
            background: $mainColor;
            max-width: 70%;
            margin: auto;
            line-height: 35px;
            color: #fff !important;

            i {
                color: #fff !important;
            }

            &:hover{
                background: $secondColor
            }
        }
    }

   

}

.product_detail_wrap {
    display: block;
    background: #fff;
    width: 100%;
    margin: -20px 00 00;
    padding: 30px 0;



    



}


.pro_maindetails_wrapper {
    display: flex;
    justify-content: space-between;


    .pro_slider {
        width: 444px / 1250px * 100%;
    }

    .product_text_details {
        width: 806px / 1250px * 100%;
        padding-top: 40px;
        h1 {
            @include fontSize(20px);
            font-weight: 500;
            font-family: $roboto;
            color: #333;
            a {
                @include fontSize(12px);
                color: $mainColor;
                display: block;
            }
        }

        h2 {
            @include fontSize(16px);
            font-weight: 500;
            font-family: $roboto;
            padding-top: 0;
            color: $darkgreyColor;
            padding-bottom: 20px;
        }

        .planwrapper {
            display: flex;
            width: 100%;
            margin-top: 30px;
            flex-wrap: wrap;
            .left {
                width: 50%;
                padding-right:30px;
                border-right: 1px solid #ddd;
                
                .additional_offers {
                    border: 1px dashed lighten($lightgreyColor, 10%);
                    border-radius: 5px;
                    padding: 15px;
                    @include fontSize(11px);
                    p {
                        margin: 0;
                        padding: 0;
                    }

                    .head {
                        font-family: $roboto;
                        color: #20a905;
                        @include fontSize(16px);
                        padding-bottom: 5px;
                    }
                }
            }

            .right {
                width: 50%;
                padding-left:30px; 
                
                    .price_main {
                        display: block;
                        @include fontSize(18px);
                        color: $darkgreyColor; 
                            .offerMrp {
                                @include fontSize(32px);
                                font-weight: 800;
                            }
                            .mainMrp {
                                text-decoration: line-through;
                            }
                            .discount {
                                color: #0cc00c;
                            }
                            
                    }
            }

            .pro_pack_box {
                border: 1px solid lighten($lightgreyColor, 30%);
                border-radius: 5px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-left: 20px;
                position: relative;
                overflow: hidden;
                margin-bottom: 20px;


                .overLay {
                    cursor: pointer;
                    position: absolute;
                    background: rgba(255,255,255,0.9);
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    left: 0;
                    visibility: hidden;
                    opacity: 0;
                    z-index: 1;
                    transition: all 0.3s;

                    a {
                        display: inline-block;
                        background: $mainColor;
                        color: #fff;
                        border-radius: 4px;
                        line-height: 30px;
                        text-transform: uppercase;
                        @include fontSize(15px);
                        padding: 0 15px;

                        &:hover{
                            background: $secondColor;
                        }
                    }
                }

                &:hover .overLay {
                    visibility: visible;
                    opacity: 1;
                }

                img{
                    max-height: 42px;
                }
                .title {
                    @include fontSize(16px);
                    font-weight: 700;
                    color: $darkgreyColor;
                }

                .packprice {
                    background: #f6f6f6;
                    padding: 5px 15px;
                    text-align: right;
                    @include fontSize(11px);

                        .offerPrice {
                            @include fontSize(16px);
                            font-weight: 600;
                            color: $darkgreyColor;
                        }

                        .percent_off {
                            color: #0cc00c;
                        }

                        .mrp {
                            text-decoration: line-through;
                        }

                        
                }
            }
        }

    }
}


.pro_inputs {
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
    .input-group {
        width: 100%;
        select {
            width: 100%;
            margin-bottom: 10px;
            height: 30px;
            border-radius: 5px;
            padding: 0 15px;
            border: 1px solid #ddd;
            outline: 0;
        }
    }
    .input-group.small {
        max-width: 120px;
        margin-right: 15px;
    }
}

.addTocartbtn {
    display: block;
    padding: 15px 0;
        a {
            display: inline-block;
            background: $mainColor;
            color: #fff;
            border-radius: 5px;
            padding: 10px 15px;
            @include fontSize(14px);
            text-transform: uppercase;
            font-weight: 600;
            &:hover {
                background: $secondColor;
            }
        }
}

.pro_butns {
    display: block;
        ul {
            display: block;
                li {
                    @include fontSize(13px);
                    margin-bottom: 15px;
                        a {
                            display: flex;
                            align-items: center;
                            .icon {
                                width: 40px;
                                height: 40px;
                                border-radius: 50%;
                                background: $secondColor;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                img {
                                     max-height: 20px;
                                 }
                            }

                            .text {
                                margin-left: 10px;
                                border: 1px solid $secondColor;
                                color: $secondColor;
                                padding: 5px;
                                transition: all 0.3s;
                                min-width: 200px;
                                text-align: center;
                                font-family: $roboto;

                                 &:hover{
                                     background: $secondColor;
                                     color: #fff;
                                 }
                            }
                        }
                        
                }
        }
}

.pro_slider {
    padding-top: 50px;
    padding-right: 30px;
}

/*----------------------- Slider Css ----------------------------*/
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
        img {
            max-width:100%;
        }
    .previews {
        width: 60px;
         img {
             max-height: 42px;
             width: auto;
         }
         a {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 10px;  
                &.selected {
                    border: 1px solid #0098ab;
                }
         }

         
     }

     .full {
        cursor: zoom-in;
    }

    .full {
        width: calc(100% - 120px);
        text-align: center;
        img {
            max-width: 80%;
            display: block;
            margin: auto;
        }
    }
}

/*----------------------- End Slider Css ----------------------------*/

.product_tabs_wrap {
    display: block;
    background: #fff;
    margin-top: 20px;
    padding: 50px 0 0;
            .tabblocks {
                border-bottom:1px solid #ddd; 
                    ul {
                        display: flex;
                        li {
                            a {
                                @include fontSize(13px);
                                color: $darkgreyColor;
                                border: 1px solid transparent;
                                display: block;
                                padding: 15px 20px;
                                position: relative;
                                &:after {
                                    content: '';
                                    width: 100%;
                                    height: 2px;
                                    background: #fff;
                                    position: absolute;
                                    bottom: -2px;
                                    left: 0;
                                    opacity: 0;
                                    
                                }
                                
                                &:hover {
                                    color: $mainColor;
                                }

                                &.active {
                                    border: 1px solid #ddd;
                                    
                                }

                                &.active:after {
                                    opacity: 1;
                                }

                                

                                


                            }
                        }
                    }
            }

}

.tab-con {
    visibility: hidden;
    opacity: 0;
    height: 0;

}
.show-tab-container {
    visibility: visible;
    opacity: 1;
    height: auto;
    min-height: 200px;
    @include fontSize(13px);
    padding: 20px 0 40px;
        
}


.tab_container {
    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .tab_blocks {
        width: calc(100% - 300px);
        border-right: 1px solid #ddd;
        padding-right: 30px;
    }

    .boughtproduct {
        width: 199px / 1250px * 100%;
            .title {
                @include fontSize(14px);
                font-weight: 700;
                color: $darkgreyColor;
                padding-top: 30px;
            }
    }
   
}

/*
    
    background: #fff;
    margin: 10px;
    box-shadow: 0 0 10px #eaeaea;
        a {
            color: #777;
        }
}*/

.owl-carousel.product_wrapper {
    
    margin: 0;
        .product_box { width: 100%; margin: 0; box-shadow: none; border: 1px solid  #ddd; padding-bottom: 5px; transition: all 0.3s; &:hover{border-color: $mainColor}}
        .item {
            padding: 30px 0;

        }
        .image_box {
            text-align: center;
            padding: 0;
                img {
                    height: 100px;
                    width: 100px;
                    object-fit: cover;
                    margin: auto;
                }
        }

        .artical_img {
            img {
                height: 100px;
                width: 100%;
                object-fit: cover;
            }
        }
    a {
       .pro_name {
        @include fontSize(14px);
        padding: 10px ;
       }
       .offer_price {
        @include fontSize(14px);
       }
    }
}

.faq_container {
    display: block;
        li {
            margin-bottom: 15px;
            display: block;
                span {
                    display: block;
                    border: 1px solid #ddd;
                    padding: 10px 10px;
                    @include fontSize(14px);
                    font-weight: 600;
                    color: $darkgreyColor;
                    cursor: pointer;
                    position: relative;
                     &:after {
                         content: "+";
                         width: 25px;
                         line-height: 25px;
                         text-align: center;
                         background: #f6f6f6;
                         color: $darkgreyColor;
                         display: inline-block;
                         border-radius: 50%;
                         position: absolute;
                        right: 10px;
                        top: 5px;
                     }
                     &.active {
                         background:$lightgreyColor;
                         color: #fff;
                     }
                     &.active:after {
                         content: '-';
                         background: #fff;
                         color: $darkgreyColor;
                     }
                }
                p {
                    margin: -1px 0 0 0;
                    border: 1px solid #ddd;
                    padding: 15px;
                    display: none;
                }
        }
}

.myaccount_wrapper {
    display: block;
    background: #FFF;
    padding: 40px 0 0;
    border-top: 1px solid $mainColor;
        .container {
            max-width: 1000px;
        }
        h1 {
            display: block;
            font-weight: 600;
            background: #f8f8f8;
            padding: 30px;
            @include fontSize(20px);
            text-transform: uppercase;
        }
}

.accountwrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .title {
        display: block;
        @include fontSize(18px);
        font-weight: 600;
        color: $mainColor;
        margin-bottom: 40px;
    }
        .left_wrap {
            width: 50%;
            border-right: 1px solid #ddd;
            padding: 30px 50px 30px 0  ;
            
        }

        .name_wrapper {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            
        }
        ul.name_details {
            @include fontSize(14px);
            li {
                margin: 0  0 15px;
                border-bottom: 1px dashed $lightgreyColor; 
                padding-bottom: 10px;
                @include fontSize(16px);
                color: $darkgreyColor;
                font-weight: 700;
                &:last-child {
                    border: 0;
                    padding-top: 10px;
                }

                
            }
            span {
                display: block;
                @include fontSize(14px);
                font-weight: 400;
                color: $lightgreyColor;
            }


        }

        .img_block {
            img {
                width: 90px;
                height: 90px;
                object-fit: cover;
                border-radius: 50%;
                border:8px solid #9eaee5; 
            }
        }

        .right_wrap {
            width: 50%;
            padding: 30px 0 30px 50px;
        }
}

#form_main {
    .form-group {
        display: block;
        margin-bottom: 25px;
            label {
                display: block;
                @include fontSize(14px);
                color: $darkgreyColor;
                font-weight: 600;
                margin-bottom: 5px;
            }

            input, textarea {
                width: 100%;
                height: 35px;
                padding: 10px 15px;
                border: 1px solid #ddd;
                border-radius: 4px;
                @include placeholder{
                    color:#666666;
                    opacity: 0.6;
                    font-family: 'Open Sans', sans-serif; 
                    font-weight: 400;
                }
                &:focus {
                    border-color: $secondColor;
                }
            }

            textarea {
                height: auto;
                outline: 0;
                &:focus {
                    border-color: $secondColor;
                }
            }
    }
}

.cartDetails_li.myAccountList {
    .cartDetails {
        background: $mainColor;
    }
    .itemsummyBox {
        min-width: 250px;
        box-shadow: 0 2px 5px rgba(black, 0.4)
    }
    .offerTExt {
        @include fontSize(12px);
        border-top:1px solid #ddd; 
        display: flex;
        justify-content: space-between;
         a {
            font-size: 12px !important;
            white-space: nowrap;
            color: lighten($mainColor, 20%) !important;
         }

         .leftText {
             color: $secondColor;
             border-right: 1px solid #ddd;
             padding: 10px;
         }

         .rightText {
            padding: 10px 0;
        }


    }
}

.loginForm {
    max-width: 720px;
    margin: 0 auto 100px;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    input[type="checkbox"] {
        width: auto !important;
        display: inline-block;
        vertical-align: middle;
    }
    .checkbox {
        font-weight: 400 !important;
        cursor: pointer;
    }
    .title {
        @include fontSize(20px);
        font-weight: 700;
        color: $darkgreyColor;
        margin-top: -20px;
        margin-bottom: 20px;
    }
   .dontHave {
        display: block;
        text-align: center;
        @include fontSize(16px);
        border: 1px solid $secondColor;
        border-radius: 4px;
        padding: 15px 0;
            a {
                color: $secondColor;
                &:hover{
                    color: $mainColor;
                }
            }
    }
    .btn_red {
        width: 100%;
        padding: 15px 0;
        @include fontSize(16px);
        font-weight: 400;
    }

    .loginProblem  {
        @include fontSize(12px);
        text-align: center;
        margin-bottom: 0 !important;
        a {
            color: $mainColor;
            &:hover {
                color: $secondColor;
            }
        }
    }

    a.back {
        float: right;
        font-size: 12px;
        font-weight: 400;
        border: 1px solid $mainColor;
        padding: 5px 15px;
        border-radius: 4px;
        color: $mainColor;
        &:hover {
            border: 1px solid $secondColor;
            color: $secondColor;
        }
    }

}

.cart_wrapper {
    display: block;
    border-top: 1px solid $mainColor;
    padding: 50px 0;
        .container {
            max-width: 1000px;
        }

        .title {
            @include fontSize(20px);
            font-weight: 700;
            color: $darkgreyColor;

        }

        .cart_block {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            padding: 20px 0 0 ;

                .left {
                    width: 600px / 1000px * 100%;
                    background: #fff;
                    border-radius: 2px;
                    box-shadow: 0 0 3px lighten($lightgreyColor, 35%);
                        .cartBox {
                            display: block;
                            padding: 15px;
                            border-bottom: 1px solid #ddd;
                            @include fontSize(14px);
                            transition: all 0.3s;
                            &:hover {
                                background: #f8f8f8;
                            }
                            &:last-child {
                                border:0; 
                            }

                            .pro_name_price {
                                display: flex;
                                flex-wrap: wrap;
                                justify-content: space-between;
                                color: $darkgreyColor;
                                font-weight: 700;
                                margin-bottom: 15px;
                                 span {
                                     display: block;
                                     @include fontSize(10px);
                                     font-weight: 600;
                                     color: #999;
                                     &.pro_real_price {
                                         text-decoration: line-through;
                                     }
                                 }
                            }
                            .pro_remove_add {
                                display: flex;
                                flex-wrap: wrap;
                                justify-content: space-between;
                                align-items: center;
                                padding: 15px 0 0 0;
                                @include fontSize(14px);
                                     i {
                                         @include fontSize(18px);
                                         color: $mainColor;
                                     }
                                     .remove {
                                         cursor: pointer;
                                     }
                            }


                            .cart_number {
                                max-width: 40px;
                                text-align: center;
                                height: 30px;
                            }
                            .dec_number, .add_number {
                                width: 25px;
                                line-height: 25px;
                                display: inline-block;
                                background:lighten($mainColor, 10%);
                                border: 0;
                                color: #fff;
                                @include fontSize(18px);
                                border-radius: 50%;
                                outline: 0;
                                cursor: pointer;
                            }

                            .add_number {
                                background: lighten($secondColor, 10%);
                            }
                        }
                }

                .right {
                    width: 365px / 1000px * 100%;
                        .right_box {
                            background: #fff;
                            border-radius: 2px;
                            box-shadow: 0 0 3px lighten($lightgreyColor, 35%);
                            margin-bottom: 15px;
                            @include fontSize(12px);
                            padding: 10px;
                            &.pros_price_details {
                                padding-bottom: 0;
                            }
                        }
                        .login_toapplycup {
                            a {
                                color: $secondColor;
                                &:hover {
                                    color: $mainColor
                                }
                            }
                        }
                        .mrp_box {
                            display: flex;
                            justify-content: space-between;
                            flex-wrap: wrap;
                            flex-direction: row;
                            padding:10px;
                            color: $darkgreyColor;
                            &.tobepaid {
                                @include fontSize(15px);
                                font-weight: 600;
                            }

                            .checkoutlocation {
                                color:darken($secondColor, 1%); 
                                @include fontSize(16px);
                                font-weight: 600;
                            }
                        }
                        .totalsaving {
                            background:lighten($mainColor, 48%);
                            margin: 0 -10px;
                            padding: 10px 20px;
                            @include fontSize(14px);
                            margin-top: 10px;
                            color: darken($darkgreyColor, 10%);
                            span {
                                color: green;
                                font-weight: 600;
                                padding-left: 10px;
                                @include fontSize(16px);
                            }
                        }

                        .pros_checkout {
                            .btn_red {
                                width: 100%;
                                min-width: 100%;
                            }
                        }
                }
        }

        
}

