* {
  box-sizing: border-box; }

a {
  -webkit-transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  transition: all 200ms linear;
  cursor: pointer;
  text-decoration: none; }

textarea {
  resize: none; }

a:hover, a:active {
  text-decoration: none; }

a:focus {
  text-decoration: none;
  outline: none; }

::-moz-selection {
  color: #fff;
  background: #ef5555;
  text-shadow: none; }

::selection {
  color: #fff;
  background: #ef5555;
  text-shadow: none; }

p {
  display: block;
  padding: 10px 0px; }

.clear {
  clear: both;
  height: 0px;
  line-height: 0px;
  font-size: 0px;
  margin: 0px;
  padding: 0px;
  display: block; }

.clear5 {
  display: block;
  height: 5px;
  line-height: 0px;
  font-size: 0px;
  clear: both; }

.clear10 {
  display: block;
  height: 10px;
  line-height: 0px;
  font-size: 0px;
  clear: both; }

.clear20 {
  display: block;
  height: 20px;
  line-height: 0px;
  font-size: 0px;
  clear: both; }

.clear40 {
  display: block;
  height: 40px;
  line-height: 0px;
  font-size: 0px;
  clear: both; }

input {
  outline: 0; }

header, section, aside, nav, footer {
  display: block; }

h1, h2, h3, h4, h5, h6 {
  display: block;
  margin: 0;
  padding: 0; }

img {
  max-width: 100%; }

ul {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none; }

.heading_main {
  display: block;
  text-align: center;
  font-size: 1.875rem;
  color: #333;
  text-transform: uppercase;
  font-weight: 700; }

.subtitle {
  text-align: center;
  font-size: 1.25rem;
  font-weight: 300;
  letter-spacing: -0.4px;
  padding-top: 5px;
  color: #777; }

@-webkit-keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible; }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
@keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible; }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
#gotop {
  position: absolute;
  right: 15px;
  bottom: 15px;
  cursor: pointer; }

.smalltitle {
  font-size: 1rem;
  font-weight: 700;
  font-family: "Roboto Condensed", sans-serif;
  padding: 10px;
  text-transform: uppercase; }

.smallBorder {
  border-bottom: 1px solid #eaeaea; }

.btn_red {
  display: inline-block;
  background: #ff6028;
  color: #fff;
  font-size: 0.75rem;
  text-transform: uppercase;
  font-weight: 600;
  min-width: 160px;
  text-align: center;
  padding: 10px 20px;
  border-radius: 4px;
  border: 0;
  transition: all 200ms;
  cursor: pointer;
  outline: 0; }
  .btn_red:hover {
    background: #0098ab; }

.btn_green {
  display: inline-block;
  background: #00c5de;
  color: #fff;
  font-size: 0.75rem;
  text-transform: uppercase;
  font-weight: 600;
  min-width: 160px;
  text-align: center;
  padding: 10px 20px;
  border-radius: 4px;
  border: 0;
  transition: all 200ms;
  cursor: pointer;
  outline: 0; }
  .btn_green:hover {
    background: #f44000; }

body {
  font-family: 'Open Sans', sans-serif;
  color: #777;
  padding: 0;
  margin: 0; }

.container {
  max-width: 1250px;
  margin: auto; }

.header {
  display: block; }

.top_header {
  background: #0098ab;
  overflow: hidden; }
  .top_header .container {
    display: flex;
    flex-wrap: wrap; }
    .top_header .container ul {
      display: flex; }
      .top_header .container ul li a {
        font-size: 0.75rem;
        color: #fff;
        display: block;
        padding: 10px; }
        .top_header .container ul li a:hover {
          color: #12e5ff; }
      .top_header .container ul li:first-child a {
        padding-left: 0; }
  .top_header .left_top {
    width: 50%; }
  .top_header .right_top {
    width: 50%; }
    .top_header .right_top ul {
      width: 100%;
      justify-content: flex-end; }
      .top_header .right_top ul li:last-child a {
        padding-right: 0; }

.logo_block {
  display: block;
  padding: 5px 0; }
  .logo_block .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center; }
    .logo_block .container ul.top_nav {
      display: flex;
      align-items: center; }
      .logo_block .container ul.top_nav li a {
        display: block;
        font-size: 0.875rem;
        color: #919191;
        padding: 0 20px; }
        .logo_block .container ul.top_nav li a i {
          color: #ffac8e;
          transition: all 0.3s; }
        .logo_block .container ul.top_nav li a:hover, .logo_block .container ul.top_nav li a:hover i {
          color: #f44000; }

.banner_block {
  display: block;
  background: url("../img/banner_bg.jpg") #42505e;
  border-top: 2px solid #ffac8e; }
  .banner_block .container {
    display: flex;
    flex-wrap: wrap; }
    .banner_block .container .banner_img {
      padding: 15px 0 0 0;
      width: 30.72%; }
      .banner_block .container .banner_img img {
        display: block; }
    .banner_block .container .filter_section {
      width: 64%;
      padding-top: 128px;
      margin: 0 0 0 30px; }
      .banner_block .container .filter_section .search_tabs {
        display: flex;
        padding-top: 24px; }
        .banner_block .container .filter_section .search_tabs li {
          min-width: 12%;
          text-align: center; }
        .banner_block .container .filter_section .search_tabs img {
          max-height: 20px; }
        .banner_block .container .filter_section .search_tabs a {
          font-family: "Roboto Condensed", sans-serif;
          font-size: 0.75rem;
          color: #fff; }
          .banner_block .container .filter_section .search_tabs a.active .img_block {
            background: #f44000; }
          .banner_block .container .filter_section .search_tabs a .img_block {
            width: 55px;
            height: 55px;
            display: flex;
            align-items: center;
            justify-content: center;
            background: #fff;
            border-radius: 50%;
            margin: auto;
            transition: all 0.3s; }
            .banner_block .container .filter_section .search_tabs a .img_block:hover {
              background: #ffe4db;
              transform: translateY(-5px); }
      .banner_block .container .filter_section h1 {
        font-size: 1.875rem;
        font-weight: 700;
        text-transform: uppercase;
        color: #fff; }
      .banner_block .container .filter_section .filter_form_block {
        display: block;
        padding-top: 21px; }
        .banner_block .container .filter_section .filter_form_block .filter_form {
          display: flex;
          width: 100%; }
          .banner_block .container .filter_section .filter_form_block .filter_form .form_group {
            position: relative; }
            .banner_block .container .filter_section .filter_form_block .filter_form .form_group img {
              max-height: 24px;
              position: absolute;
              left: 10px;
              top: 50%;
              transform: translateY(-50%); }
          .banner_block .container .filter_section .filter_form_block .filter_form .location {
            min-width: 150px;
            background: #fff;
            line-height: 50px;
            padding-left: 40px;
            font-weight: 300;
            font-size: 0.875rem;
            cursor: pointer; }
          .banner_block .container .filter_section .filter_form_block .filter_form .select_category {
            min-width: 450px;
            background: #fff;
            line-height: 50px;
            position: relative;
            padding-left: 10px; }
            .banner_block .container .filter_section .filter_form_block .filter_form .select_category:before {
              content: '';
              width: 1px;
              height: calc(100% - 10px);
              top: 5px;
              left: 0;
              position: absolute;
              background: #ddd; }
            .banner_block .container .filter_section .filter_form_block .filter_form .select_category input {
              border: 0;
              width: 100%;
              font-size: 0.875rem; }
              .banner_block .container .filter_section .filter_form_block .filter_form .select_category input::-webkit-input-placeholder {
                color: #888;
                opacity: 1;
                font-family: 'Open Sans', sans-serif;
                font-weight: 300; }
              .banner_block .container .filter_section .filter_form_block .filter_form .select_category input:-moz-placeholder {
                /* Firefox 18- */
                color: #888;
                opacity: 1;
                font-family: 'Open Sans', sans-serif;
                font-weight: 300; }
              .banner_block .container .filter_section .filter_form_block .filter_form .select_category input::-moz-placeholder {
                /* Firefox 19+ */
                color: #888;
                opacity: 1;
                font-family: 'Open Sans', sans-serif;
                font-weight: 300; }
              .banner_block .container .filter_section .filter_form_block .filter_form .select_category input:-ms-input-placeholder {
                color: #888;
                opacity: 1;
                font-family: 'Open Sans', sans-serif;
                font-weight: 300; }
          .banner_block .container .filter_section .filter_form_block .filter_form .filter_btn {
            min-width: 130px;
            background: #f44000; }
            .banner_block .container .filter_section .filter_form_block .filter_form .filter_btn button {
              background: none;
              border: 0;
              display: block;
              text-align: center;
              line-height: 50px;
              width: 100%;
              text-transform: uppercase;
              font-size: 0.875rem;
              color: #fff;
              font-weight: 700;
              font-family: 'Open Sans', sans-serif;
              cursor: pointer; }
              .banner_block .container .filter_section .filter_form_block .filter_form .filter_btn button img {
                max-height: 22px;
                position: static;
                transform: translate(4px, 5px); }

#location-modal {
  position: fixed;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
  background: rgba(0, 0, 0, 0.5);
  left: 0;
  top: 0;
  height: 100%;
  width: 100%; }
  #location-modal .modal-body {
    top: 100px;
    left: 50%;
    background: #fff;
    min-width: 540px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    position: absolute;
    max-width: 540px;
    margin-left: -270px; }
    #location-modal .modal-body .close {
      width: 30px;
      line-height: 30px;
      border-radius: 50%;
      text-align: center;
      position: absolute;
      top: -10px;
      color: #fff;
      background: #ff865b;
      right: -10px;
      cursor: pointer; }
    #location-modal .modal-body.slideInDown {
      animation: slideInDown 0.3s; }
  #location-modal.open {
    opacity: 1;
    visibility: visible; }
  #location-modal .modal-top-bar {
    display: flex;
    justify-content: space-between; }
    #location-modal .modal-top-bar input {
      border: 1px solid #ddd;
      padding: 0 15px 0;
      height: 32px;
      border-radius: 4px; }
      #location-modal .modal-top-bar input::-webkit-input-placeholder {
        opacity: 1;
        font-family: 'Open Sans', sans-serif;
        font-weight: 300; }
      #location-modal .modal-top-bar input:-moz-placeholder {
        /* Firefox 18- */
        opacity: 1;
        font-family: 'Open Sans', sans-serif;
        font-weight: 300; }
      #location-modal .modal-top-bar input::-moz-placeholder {
        /* Firefox 19+ */
        opacity: 1;
        font-family: 'Open Sans', sans-serif;
        font-weight: 300; }
      #location-modal .modal-top-bar input:-ms-input-placeholder {
        opacity: 1;
        font-family: 'Open Sans', sans-serif;
        font-weight: 300; }
  #location-modal ul {
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0 0 0;
    max-height: 200px;
    overflow: auto; }
    #location-modal ul a {
      font-size: 0.75rem;
      display: block;
      border: 1px solid #f44000;
      margin: 5px;
      border-radius: 5px;
      padding: 5px;
      color: #f44000;
      font-size: 0.6875rem; }
      #location-modal ul a:hover {
        border: 1px solid #0098ab;
        color: #0098ab; }
      #location-modal ul a.active {
        border: 1px solid #0098ab;
        color: #0098ab; }

.discover_the_block {
  display: block;
  padding: 48px 0 60px; }
  .discover_the_block .step_container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -17px;
    padding-top: 55px; }
    .discover_the_block .step_container .step_box {
      width: calc(33.333333333% - 34px);
      margin: 0 17px;
      text-align: center;
      box-shadow: 0 0 13px rgba(0, 0, 0, 0.18);
      padding: 60px 40px;
      box-sizing: border-box;
      transition: all 0.3s; }
      .discover_the_block .step_container .step_box img {
        max-height: 109px; }
      .discover_the_block .step_container .step_box .d_title {
        font-size: 1.25rem;
        text-transform: uppercase;
        font-weight: 600;
        padding: 6px 0 8px;
        color: #f44000; }
      .discover_the_block .step_container .step_box:nth-child(2) .d_title {
        color: #0098ab; }
      .discover_the_block .step_container .step_box:hover {
        transform: translateY(-10px);
        background: #fff7f4; }
      .discover_the_block .step_container .step_box .d_text {
        font-weight: 300;
        letter-spacing: -0.32px; }

.business_solutions {
  display: block;
  padding: 48px 0 0;
  background: url("../img/business_solutions_bg.jpg") #d0f0fa;
  background-attachment: fixed;
  background-size: cover; }
  .business_solutions .business_solutions_image {
    display: block;
    text-align: center;
    margin: 36px 0 0 0; }
    .business_solutions .business_solutions_image img {
      margin: auto;
      display: block; }

.care_mediwheel {
  padding: 48px 0 60px;
  background: url("../img/care_mediwheel.jpg");
  background-size: 100%;
  background-attachment: fixed; }
  .care_mediwheel p {
    text-align: center;
    font-weight: 300;
    letter-spacing: -0.32px;
    padding: 0 120px; }
  .care_mediwheel .box {
    max-width: 1070px;
    padding-top: 40px;
    margin: auto;
    display: flex;
    text-align: center; }
    .care_mediwheel .box .left_box {
      width: calc(33.33333333% - 20px);
      margin: 10px; }
      .care_mediwheel .box .left_box p {
        padding: 0; }
      .care_mediwheel .box .left_box.center .box_inside {
        min-height: 412px; }
      .care_mediwheel .box .left_box .box_inside {
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.18);
        margin-bottom: 20px;
        padding: 20px;
        transition: all 0.3s; }
        .care_mediwheel .box .left_box .box_inside:hover {
          transform: translateY(-10px);
          background: #fff7f4; }
          .care_mediwheel .box .left_box .box_inside:hover a img {
            transform: rotate(360deg); }
          .care_mediwheel .box .left_box .box_inside:hover .careicomn img {
            filter: brightness(0); }
        .care_mediwheel .box .left_box .box_inside .careicomn img {
          max-height: 70px;
          transition: all 0.4s; }
        .care_mediwheel .box .left_box .box_inside .title {
          font-size: 1.125rem;
          color: #333;
          font-weight: 700;
          padding: 10px 0; }
        .care_mediwheel .box .left_box .box_inside a img {
          max-width: 44px;
          margin: 6px 0 0 0;
          transition: all 0.5s; }

.client_talsk {
  display: block;
  padding: 48px 0 60px;
  background: url("../img/clients_bg.jpg") no-repeat #f44000;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  color: #fff; }
  .client_talsk .heading_main, .client_talsk .subtitle {
    color: #fff; }
  .client_talsk .client_slider {
    margin: 50px auto  0 auto;
    max-width: 1070px; }
    .client_talsk .client_slider .clientslide {
      display: flex;
      flex-wrap: wrap; }
    .client_talsk .client_slider .img_slide img {
      border: 2px solid #ddd;
      max-width: 94px;
      max-height: 94px;
      padding: 5px;
      border-radius: 50%; }
    .client_talsk .client_slider .text {
      width: calc(100% - 100px);
      padding-left: 20px;
      font-size: 0.875rem;
      line-height: 1.6; }
      .client_talsk .client_slider .text strong {
        display: block; }
    .client_talsk .client_slider .owl-prev, .client_talsk .client_slider .owl-next {
      position: absolute;
      top: 25%;
      transform: translateY(-25%);
      overflow: hidden;
      text-indent: -10000px;
      width: 38px;
      height: 38px;
      background: url("../img/left_arw.png") no-repeat;
      left: -70px;
      opacity: 0.5;
      transition: all 0.3s; }
      .client_talsk .client_slider .owl-prev:hover, .client_talsk .client_slider .owl-next:hover {
        opacity: 1; }
    .client_talsk .client_slider .owl-next {
      background: url("../img/right_arw.png") no-repeat;
      left: inherit;
      right: -70px; }
    .client_talsk .client_slider .owl-dots {
      text-align: center;
      padding: 40px 0 0 0; }
      .client_talsk .client_slider .owl-dots .owl-dot {
        width: 18px;
        height: 18px;
        border: 2px solid #fff;
        display: inline-block;
        border-radius: 50%;
        margin: 0 3px; }
        .client_talsk .client_slider .owl-dots .owl-dot.active {
          background: #f44000; }

.footer {
  display: block;
  background: url("../img/ftr_bg.png") no-repeat #0e2a47;
  background-position: 0 0; }
  .footer .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 60px 0; }
  .footer .ftr_left {
    width: 51.2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
    .footer .ftr_left strong {
      color: #fff;
      font-size: 0.9375rem;
      padding-bottom: 10px;
      display: block; }
    .footer .ftr_left a {
      color: #fff;
      display: block;
      font-size: 0.875rem;
      padding: 2px 0; }
      .footer .ftr_left a:hover {
        color: #45eaff; }
  .footer .ftr_right {
    width: 44.8%;
    background: #dee4ea;
    border-radius: 10px;
    text-align: center;
    padding: 30px; }
    .footer .ftr_right .title {
      font-size: 1.25rem;
      color: #333;
      font-weight: 700;
      padding-bottom: 20px; }
    .footer .ftr_right .socilftr {
      display: flex;
      justify-content: center;
      padding: 10px 0 0 0; }
      .footer .ftr_right .socilftr a {
        display: inline-block;
        width: 30px;
        line-height: 30px;
        background: #000;
        color: #fff;
        margin: 5px;
        border-radius: 50%;
        text-align: center; }
        .footer .ftr_right .socilftr a:hover {
          transform: translateY(-7px); }
      .footer .ftr_right .socilftr li:nth-child(1) a {
        background: #3b5998; }
        .footer .ftr_right .socilftr li:nth-child(1) a:hover {
          background: rgba(59, 89, 152, 0.9); }
      .footer .ftr_right .socilftr li:nth-child(2) a {
        background: #55acee; }
        .footer .ftr_right .socilftr li:nth-child(2) a:hover {
          background: rgba(85, 172, 238, 0.9); }
      .footer .ftr_right .socilftr li:nth-child(3) a {
        background: #db402c; }
        .footer .ftr_right .socilftr li:nth-child(3) a:hover {
          background: rgba(219, 64, 44, 0.9); }
      .footer .ftr_right .socilftr li:nth-child(4) a {
        background: #cb2027; }
        .footer .ftr_right .socilftr li:nth-child(4) a:hover {
          background: rgba(203, 32, 39, 0.9); }
  .footer .copyright {
    display: block;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    position: relative;
    padding: 25px 0;
    color: #77aee6;
    font-size: 0.875rem; }
    .footer .copyright .container {
      padding: 0; }
    .footer .copyright a {
      color: #77aee6; }
      .footer .copyright a:hover {
        color: #fff; }

/*----------------------- Medicine List Page css -------------------------------------*/
.banner_block.list_banner .filter_section {
  padding: 10px 0 30px 0; }

.inner_body_wrapper {
  background: #f6f6f6;
  min-height: 800px; }

.featured {
  display: block;
  border-bottom: 1px solid #dddddd;
  margin: 0 0 20px 0;
  background: #fff; }
  .featured > ul {
    display: flex;
    justify-content: center;
    position: relative; }
    .featured > ul > li > a {
      font-size: 0.875rem;
      font-family: "Roboto Condensed", sans-serif;
      display: inline-block;
      padding: 10px 25px;
      color: #444444;
      position: relative; }
      .featured > ul > li > a:hover {
        color: #f44000; }
      .featured > ul > li > a:after {
        content: "\f107";
        position: absolute;
        right: 3px;
        font-family: 'FontAwesome'; }
    .featured > ul > li > ul.f_submenu {
      position: absolute;
      background: #fff;
      padding: 10px;
      min-width: 200px;
      display: none;
      box-shadow: 0 2px 5px #777;
      z-index: 999; }
      .featured > ul > li > ul.f_submenu a {
        font-size: 0.75rem;
        color: #777; }
        .featured > ul > li > ul.f_submenu a:hover {
          color: #f44000;
          border-bottom: 1px solid #c4c4c4; }
    .featured > ul > li:hover ul.f_submenu {
      display: block; }

.list_wrapper {
  display: block; }
  .list_wrapper .left_filter {
    width: 15.04%;
    background: #fff;
    min-height: 600px; }
  .list_wrapper .filer_box {
    display: block;
    padding: 10px;
    border-bottom: 1px solid #c4c4c4; }
    .list_wrapper .filer_box .brans_filter_input input {
      border-radius: 4px;
      border: 1px solid #c4c4c4;
      padding: 0 10px;
      height: 35px;
      width: 100%; }
  .list_wrapper .flite_item {
    display: block;
    max-height: 300px;
    overflow: auto;
    font-size: 0.75rem; }
    .list_wrapper .flite_item label {
      display: block;
      margin: 5px 0; }
      .list_wrapper .flite_item label span {
        float: right; }
  .list_wrapper .list_body {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; }

.breadcrumb_blok {
  display: block; }
  .breadcrumb_blok ul {
    display: flex;
    font-size: 0.75rem; }
    .breadcrumb_blok ul li {
      display: block;
      position: relative; }
      .breadcrumb_blok ul li a {
        color: #f44000; }
        .breadcrumb_blok ul li a:hover {
          color: #0098ab; }
      .breadcrumb_blok ul li:after {
        content: "\f105";
        font-family: 'FontAwesome';
        margin: 0 5px; }
      .breadcrumb_blok ul li:last-child:after {
        display: none; }

.product_row {
  width: 82.56%; }
  .product_row .titlebar {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .product_row .titlebar h1 {
      font-size: 1.5rem;
      font-weight: 400;
      color: #2b2b2b; }
      .product_row .titlebar h1 span {
        display: inline-block;
        vertical-align: middle;
        font-size: 0.75rem;
        font-weight: 400;
        color: #777;
        font-family: "Roboto Condensed", sans-serif; }
    .product_row .titlebar .sortBy {
      display: flex;
      align-items: center;
      font-size: 0.875rem;
      color: #2b2b2b; }
      .product_row .titlebar .sortBy .inputBox {
        margin: 0 0px 0 5px; }
        .product_row .titlebar .sortBy .inputBox select {
          outline: 0;
          height: 32px; }

.product_wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 30px -10px;
  font-size: 0.8125rem; }
  .product_wrapper a {
    color: #777; }
    .product_wrapper a .pro_name {
      padding: 0 10px;
      font-family: "Roboto Condensed", sans-serif;
      font-size: 1rem;
      color: #444444; }
    .product_wrapper a .pro_detail {
      padding: 0 10px; }
    .product_wrapper a .price_details {
      padding: 10px 10px 0; }
      .product_wrapper a .price_details .proce {
        text-decoration: line-through; }
      .product_wrapper a .price_details .offer_price {
        display: block;
        font-size: 1.25rem;
        color: #2b2b2b; }
      .product_wrapper a .price_details .discount {
        color: #0cc00c;
        padding-left: 5px; }
  .product_wrapper .product_box {
    width: calc(25% - 20px);
    background: #fff;
    margin: 10px;
    box-shadow: 0 0 10px #eaeaea; }
    .product_wrapper .product_box .image_box {
      text-align: center;
      padding: 20px 0 20px; }
      .product_wrapper .product_box .image_box img {
        height: 150px;
        width: 150px;
        object-fit: cover; }
    .product_wrapper .product_box .proIcons {
      display: flex;
      justify-content: space-between;
      border-top: 1px solid #eaeaea;
      margin-top: 20px; }
      .product_wrapper .product_box .proIcons a {
        display: block;
        width: 33.333333333%;
        text-align: center;
        padding: 10px 0;
        border-right: 1px solid #eaeaea;
        font-size: 1.125rem; }
        .product_wrapper .product_box .proIcons a.viewDetails {
          position: relative; }
          .product_wrapper .product_box .proIcons a.viewDetails:after {
            content: 'View Detail';
            min-width: 90px;
            line-height: 24px;
            background: #f44000;
            color: #fff;
            text-align: center;
            font-size: 0.625rem;
            top: -20px;
            position: absolute;
            right: 0;
            text-transform: uppercase;
            border-radius: 4px;
            opacity: 0;
            visibility: hidden;
            transition: all 0.3s; }
          .product_wrapper .product_box .proIcons a.viewDetails:hover:after {
            opacity: 1;
            visibility: visible; }
        .product_wrapper .product_box .proIcons a.wishList {
          position: relative; }
          .product_wrapper .product_box .proIcons a.wishList:after {
            content: 'Add to Wishlist';
            min-width: 96px;
            line-height: 24px;
            background: #0098ab;
            color: #fff;
            text-align: center;
            font-size: 0.625rem;
            top: -20px;
            position: absolute;
            left: 0;
            text-transform: uppercase;
            border-radius: 4px;
            opacity: 0;
            visibility: hidden;
            transition: all 0.3s; }
          .product_wrapper .product_box .proIcons a.wishList:hover {
            color: #0098ab; }
          .product_wrapper .product_box .proIcons a.wishList:hover:after {
            opacity: 1;
            visibility: visible; }
        .product_wrapper .product_box .proIcons a:last-child {
          border: 0;
          position: relative; }
          .product_wrapper .product_box .proIcons a:last-child:after {
            content: 'Add to Cart';
            min-width: 90px;
            line-height: 24px;
            background: #f44000;
            color: #fff;
            text-align: center;
            font-size: 0.625rem;
            top: -20px;
            position: absolute;
            left: 0;
            text-transform: uppercase;
            border-radius: 4px;
            opacity: 0;
            visibility: hidden;
            transition: all 0.3s; }
          .product_wrapper .product_box .proIcons a:last-child:hover:after {
            opacity: 1;
            visibility: visible; }
        .product_wrapper .product_box .proIcons a:hover {
          color: #f44000; }

.pagenation_wrapper {
  padding: 0 0 60px; }
  .pagenation_wrapper ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background: #fff;
    border-radius: 4px;
    padding: 15px 0;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1); }
    .pagenation_wrapper ul li {
      margin: 0 5px; }
      .pagenation_wrapper ul li a {
        color: #2b2b2b;
        font-size: 0.75rem; }
        .pagenation_wrapper ul li a:hover {
          color: #0098ab; }
      .pagenation_wrapper ul li:first-child a, .pagenation_wrapper ul li:last-child a {
        width: 30px;
        line-height: 30px;
        background: #f44000;
        color: #fff;
        display: block;
        text-align: center;
        border-radius: 50%;
        font-size: 1rem; }
        .pagenation_wrapper ul li:first-child a:hover, .pagenation_wrapper ul li:last-child a:hover {
          background: #0098ab; }

.cartDetails {
  background: #0098ab !important;
  position: relative;
  width: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  padding: 0 !important; }
  .cartDetails i {
    color: #fff !important; }
  .cartDetails .count {
    position: absolute;
    background: #f44000;
    width: 20px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    border-radius: 50%;
    font-size: 0.625rem; }

.cartDetails_li {
  position: relative; }
  .cartDetails_li a {
    display: inline-block !important; }
  .cartDetails_li .UserName {
    display: inline-block;
    font-size: 0.875rem;
    color: #919191;
    padding-left: 5px; }
  .cartDetails_li .itemsummyBox {
    position: absolute;
    right: 0;
    min-width: 300px;
    background: #fff;
    top: 104%;
    z-index: 999;
    box-shadow: 0 2px 5px #6a6a6a;
    visibility: hidden;
    opacity: 0; }
    .cartDetails_li .itemsummyBox .itemSummry {
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid #ddd;
      padding: 10px;
      font-size: 0.875rem;
      color: #111111;
      font-weight: 600; }
    .cartDetails_li .itemsummyBox ul.itemsList {
      max-height: 200px;
      overflow: auto;
      padding: 10px; }
      .cartDetails_li .itemsummyBox ul.itemsList li a {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        padding: 5px 0;
        font-size: 0.75rem;
        color: #444444; }
        .cartDetails_li .itemsummyBox ul.itemsList li a span {
          font-weight: 700; }
  .cartDetails_li:hover .itemsummyBox {
    visibility: visible;
    opacity: 1; }
  .cartDetails_li .proccedtoCheck {
    display: block;
    text-align: center;
    border-top: 1px solid #ddd;
    padding: 20px 0; }
    .cartDetails_li .proccedtoCheck a {
      border-radius: 4px;
      display: inline-block;
      background: #f44000;
      max-width: 70%;
      margin: auto;
      line-height: 35px;
      color: #fff !important; }
      .cartDetails_li .proccedtoCheck a i {
        color: #fff !important; }
      .cartDetails_li .proccedtoCheck a:hover {
        background: #0098ab; }

.product_detail_wrap {
  display: block;
  background: #fff;
  width: 100%;
  margin: -20px 00 00;
  padding: 30px 0; }

.pro_maindetails_wrapper {
  display: flex;
  justify-content: space-between; }
  .pro_maindetails_wrapper .pro_slider {
    width: 35.52%; }
  .pro_maindetails_wrapper .product_text_details {
    width: 64.48%;
    padding-top: 40px; }
    .pro_maindetails_wrapper .product_text_details h1 {
      font-size: 1.25rem;
      font-weight: 500;
      font-family: "Roboto Condensed", sans-serif;
      color: #333; }
      .pro_maindetails_wrapper .product_text_details h1 a {
        font-size: 0.75rem;
        color: #f44000;
        display: block; }
    .pro_maindetails_wrapper .product_text_details h2 {
      font-size: 1rem;
      font-weight: 500;
      font-family: "Roboto Condensed", sans-serif;
      padding-top: 0;
      color: #333;
      padding-bottom: 20px; }
    .pro_maindetails_wrapper .product_text_details .planwrapper {
      display: flex;
      width: 100%;
      margin-top: 30px;
      flex-wrap: wrap; }
      .pro_maindetails_wrapper .product_text_details .planwrapper .left {
        width: 50%;
        padding-right: 30px;
        border-right: 1px solid #ddd; }
        .pro_maindetails_wrapper .product_text_details .planwrapper .left .additional_offers {
          border: 1px dashed #919191;
          border-radius: 5px;
          padding: 15px;
          font-size: 0.6875rem; }
          .pro_maindetails_wrapper .product_text_details .planwrapper .left .additional_offers p {
            margin: 0;
            padding: 0; }
          .pro_maindetails_wrapper .product_text_details .planwrapper .left .additional_offers .head {
            font-family: "Roboto Condensed", sans-serif;
            color: #20a905;
            font-size: 1rem;
            padding-bottom: 5px; }
      .pro_maindetails_wrapper .product_text_details .planwrapper .right {
        width: 50%;
        padding-left: 30px; }
        .pro_maindetails_wrapper .product_text_details .planwrapper .right .price_main {
          display: block;
          font-size: 1.125rem;
          color: #333; }
          .pro_maindetails_wrapper .product_text_details .planwrapper .right .price_main .offerMrp {
            font-size: 2rem;
            font-weight: 800; }
          .pro_maindetails_wrapper .product_text_details .planwrapper .right .price_main .mainMrp {
            text-decoration: line-through; }
          .pro_maindetails_wrapper .product_text_details .planwrapper .right .price_main .discount {
            color: #0cc00c; }
      .pro_maindetails_wrapper .product_text_details .planwrapper .pro_pack_box {
        border: 1px solid #c4c4c4;
        border-radius: 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 20px;
        position: relative;
        overflow: hidden;
        margin-bottom: 20px; }
        .pro_maindetails_wrapper .product_text_details .planwrapper .pro_pack_box .overLay {
          cursor: pointer;
          position: absolute;
          background: rgba(255, 255, 255, 0.9);
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          left: 0;
          visibility: hidden;
          opacity: 0;
          z-index: 1;
          transition: all 0.3s; }
          .pro_maindetails_wrapper .product_text_details .planwrapper .pro_pack_box .overLay a {
            display: inline-block;
            background: #f44000;
            color: #fff;
            border-radius: 4px;
            line-height: 30px;
            text-transform: uppercase;
            font-size: 0.9375rem;
            padding: 0 15px; }
            .pro_maindetails_wrapper .product_text_details .planwrapper .pro_pack_box .overLay a:hover {
              background: #0098ab; }
        .pro_maindetails_wrapper .product_text_details .planwrapper .pro_pack_box:hover .overLay {
          visibility: visible;
          opacity: 1; }
        .pro_maindetails_wrapper .product_text_details .planwrapper .pro_pack_box img {
          max-height: 42px; }
        .pro_maindetails_wrapper .product_text_details .planwrapper .pro_pack_box .title {
          font-size: 1rem;
          font-weight: 700;
          color: #333; }
        .pro_maindetails_wrapper .product_text_details .planwrapper .pro_pack_box .packprice {
          background: #f6f6f6;
          padding: 5px 15px;
          text-align: right;
          font-size: 0.6875rem; }
          .pro_maindetails_wrapper .product_text_details .planwrapper .pro_pack_box .packprice .offerPrice {
            font-size: 1rem;
            font-weight: 600;
            color: #333; }
          .pro_maindetails_wrapper .product_text_details .planwrapper .pro_pack_box .packprice .percent_off {
            color: #0cc00c; }
          .pro_maindetails_wrapper .product_text_details .planwrapper .pro_pack_box .packprice .mrp {
            text-decoration: line-through; }

.pro_inputs {
  display: flex;
  flex-wrap: wrap;
  padding-top: 20px; }
  .pro_inputs .input-group {
    width: 100%; }
    .pro_inputs .input-group select {
      width: 100%;
      margin-bottom: 10px;
      height: 30px;
      border-radius: 5px;
      padding: 0 15px;
      border: 1px solid #ddd;
      outline: 0; }
  .pro_inputs .input-group.small {
    max-width: 120px;
    margin-right: 15px; }

.addTocartbtn {
  display: block;
  padding: 15px 0; }
  .addTocartbtn a {
    display: inline-block;
    background: #f44000;
    color: #fff;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 0.875rem;
    text-transform: uppercase;
    font-weight: 600; }
    .addTocartbtn a:hover {
      background: #0098ab; }

.pro_butns {
  display: block; }
  .pro_butns ul {
    display: block; }
    .pro_butns ul li {
      font-size: 0.8125rem;
      margin-bottom: 15px; }
      .pro_butns ul li a {
        display: flex;
        align-items: center; }
        .pro_butns ul li a .icon {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          background: #0098ab;
          display: flex;
          align-items: center;
          justify-content: center; }
          .pro_butns ul li a .icon img {
            max-height: 20px; }
        .pro_butns ul li a .text {
          margin-left: 10px;
          border: 1px solid #0098ab;
          color: #0098ab;
          padding: 5px;
          transition: all 0.3s;
          min-width: 200px;
          text-align: center;
          font-family: "Roboto Condensed", sans-serif; }
          .pro_butns ul li a .text:hover {
            background: #0098ab;
            color: #fff; }

.pro_slider {
  padding-top: 50px;
  padding-right: 30px; }

/*----------------------- Slider Css ----------------------------*/
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  .gallery img {
    max-width: 100%; }
  .gallery .previews {
    width: 60px; }
    .gallery .previews img {
      max-height: 42px;
      width: auto; }
    .gallery .previews a {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px; }
      .gallery .previews a.selected {
        border: 1px solid #0098ab; }
  .gallery .full {
    cursor: zoom-in; }
  .gallery .full {
    width: calc(100% - 120px);
    text-align: center; }
    .gallery .full img {
      max-width: 80%;
      display: block;
      margin: auto; }

/*----------------------- End Slider Css ----------------------------*/
.product_tabs_wrap {
  display: block;
  background: #fff;
  margin-top: 20px;
  padding: 50px 0 0; }
  .product_tabs_wrap .tabblocks {
    border-bottom: 1px solid #ddd; }
    .product_tabs_wrap .tabblocks ul {
      display: flex; }
      .product_tabs_wrap .tabblocks ul li a {
        font-size: 0.8125rem;
        color: #333;
        border: 1px solid transparent;
        display: block;
        padding: 15px 20px;
        position: relative; }
        .product_tabs_wrap .tabblocks ul li a:after {
          content: '';
          width: 100%;
          height: 2px;
          background: #fff;
          position: absolute;
          bottom: -2px;
          left: 0;
          opacity: 0; }
        .product_tabs_wrap .tabblocks ul li a:hover {
          color: #f44000; }
        .product_tabs_wrap .tabblocks ul li a.active {
          border: 1px solid #ddd; }
        .product_tabs_wrap .tabblocks ul li a.active:after {
          opacity: 1; }

.tab-con {
  visibility: hidden;
  opacity: 0;
  height: 0; }

.show-tab-container {
  visibility: visible;
  opacity: 1;
  height: auto;
  min-height: 200px;
  font-size: 0.8125rem;
  padding: 20px 0 40px; }

.tab_container .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
.tab_container .tab_blocks {
  width: calc(100% - 300px);
  border-right: 1px solid #ddd;
  padding-right: 30px; }
.tab_container .boughtproduct {
  width: 15.92%; }
  .tab_container .boughtproduct .title {
    font-size: 0.875rem;
    font-weight: 700;
    color: #333;
    padding-top: 30px; }

/*
    
    background: #fff;
    margin: 10px;
    box-shadow: 0 0 10px #eaeaea;
        a {
            color: #777;
        }
}*/
.owl-carousel.product_wrapper {
  margin: 0; }
  .owl-carousel.product_wrapper .product_box {
    width: 100%;
    margin: 0;
    box-shadow: none;
    border: 1px solid  #ddd;
    padding-bottom: 5px;
    transition: all 0.3s; }
    .owl-carousel.product_wrapper .product_box:hover {
      border-color: #f44000; }
  .owl-carousel.product_wrapper .item {
    padding: 30px 0; }
  .owl-carousel.product_wrapper .image_box {
    text-align: center;
    padding: 0; }
    .owl-carousel.product_wrapper .image_box img {
      height: 100px;
      width: 100px;
      object-fit: cover;
      margin: auto; }
  .owl-carousel.product_wrapper .artical_img img {
    height: 100px;
    width: 100%;
    object-fit: cover; }
  .owl-carousel.product_wrapper a .pro_name {
    font-size: 0.875rem;
    padding: 10px; }
  .owl-carousel.product_wrapper a .offer_price {
    font-size: 0.875rem; }

.faq_container {
  display: block; }
  .faq_container li {
    margin-bottom: 15px;
    display: block; }
    .faq_container li span {
      display: block;
      border: 1px solid #ddd;
      padding: 10px 10px;
      font-size: 0.875rem;
      font-weight: 600;
      color: #333;
      cursor: pointer;
      position: relative; }
      .faq_container li span:after {
        content: "+";
        width: 25px;
        line-height: 25px;
        text-align: center;
        background: #f6f6f6;
        color: #333;
        display: inline-block;
        border-radius: 50%;
        position: absolute;
        right: 10px;
        top: 5px; }
      .faq_container li span.active {
        background: #777;
        color: #fff; }
      .faq_container li span.active:after {
        content: '-';
        background: #fff;
        color: #333; }
    .faq_container li p {
      margin: -1px 0 0 0;
      border: 1px solid #ddd;
      padding: 15px;
      display: none; }

.myaccount_wrapper {
  display: block;
  background: #FFF;
  padding: 40px 0 0;
  border-top: 1px solid #f44000; }
  .myaccount_wrapper .container {
    max-width: 1000px; }
  .myaccount_wrapper h1 {
    display: block;
    font-weight: 600;
    background: #f8f8f8;
    padding: 30px;
    font-size: 1.25rem;
    text-transform: uppercase; }

.accountwrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }
  .accountwrap .title {
    display: block;
    font-size: 1.125rem;
    font-weight: 600;
    color: #f44000;
    margin-bottom: 40px; }
  .accountwrap .left_wrap {
    width: 50%;
    border-right: 1px solid #ddd;
    padding: 30px 50px 30px 0; }
  .accountwrap .name_wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
  .accountwrap ul.name_details {
    font-size: 0.875rem; }
    .accountwrap ul.name_details li {
      margin: 0  0 15px;
      border-bottom: 1px dashed #777;
      padding-bottom: 10px;
      font-size: 1rem;
      color: #333;
      font-weight: 700; }
      .accountwrap ul.name_details li:last-child {
        border: 0;
        padding-top: 10px; }
    .accountwrap ul.name_details span {
      display: block;
      font-size: 0.875rem;
      font-weight: 400;
      color: #777; }
  .accountwrap .img_block img {
    width: 90px;
    height: 90px;
    object-fit: cover;
    border-radius: 50%;
    border: 8px solid #9eaee5; }
  .accountwrap .right_wrap {
    width: 50%;
    padding: 30px 0 30px 50px; }

#form_main .form-group {
  display: block;
  margin-bottom: 25px; }
  #form_main .form-group label {
    display: block;
    font-size: 0.875rem;
    color: #333;
    font-weight: 600;
    margin-bottom: 5px; }
  #form_main .form-group input, #form_main .form-group textarea {
    width: 100%;
    height: 35px;
    padding: 10px 15px;
    border: 1px solid #ddd;
    border-radius: 4px; }
    #form_main .form-group input::-webkit-input-placeholder, #form_main .form-group textarea::-webkit-input-placeholder {
      color: #666666;
      opacity: 0.6;
      font-family: 'Open Sans', sans-serif;
      font-weight: 400; }
    #form_main .form-group input:-moz-placeholder, #form_main .form-group textarea:-moz-placeholder {
      /* Firefox 18- */
      color: #666666;
      opacity: 0.6;
      font-family: 'Open Sans', sans-serif;
      font-weight: 400; }
    #form_main .form-group input::-moz-placeholder, #form_main .form-group textarea::-moz-placeholder {
      /* Firefox 19+ */
      color: #666666;
      opacity: 0.6;
      font-family: 'Open Sans', sans-serif;
      font-weight: 400; }
    #form_main .form-group input:-ms-input-placeholder, #form_main .form-group textarea:-ms-input-placeholder {
      color: #666666;
      opacity: 0.6;
      font-family: 'Open Sans', sans-serif;
      font-weight: 400; }
    #form_main .form-group input:focus, #form_main .form-group textarea:focus {
      border-color: #0098ab; }
  #form_main .form-group textarea {
    height: auto;
    outline: 0; }
    #form_main .form-group textarea:focus {
      border-color: #0098ab; }

.cartDetails_li.myAccountList .cartDetails {
  background: #f44000; }
.cartDetails_li.myAccountList .itemsummyBox {
  min-width: 250px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4); }
.cartDetails_li.myAccountList .offerTExt {
  font-size: 0.75rem;
  border-top: 1px solid #ddd;
  display: flex;
  justify-content: space-between; }
  .cartDetails_li.myAccountList .offerTExt a {
    font-size: 12px !important;
    white-space: nowrap;
    color: #ff865b !important; }
  .cartDetails_li.myAccountList .offerTExt .leftText {
    color: #0098ab;
    border-right: 1px solid #ddd;
    padding: 10px; }
  .cartDetails_li.myAccountList .offerTExt .rightText {
    padding: 10px 0; }

.loginForm {
  max-width: 720px;
  margin: 0 auto 100px;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); }
  .loginForm input[type="checkbox"] {
    width: auto !important;
    display: inline-block;
    vertical-align: middle; }
  .loginForm .checkbox {
    font-weight: 400 !important;
    cursor: pointer; }
  .loginForm .title {
    font-size: 1.25rem;
    font-weight: 700;
    color: #333;
    margin-top: -20px;
    margin-bottom: 20px; }
  .loginForm .dontHave {
    display: block;
    text-align: center;
    font-size: 1rem;
    border: 1px solid #0098ab;
    border-radius: 4px;
    padding: 15px 0; }
    .loginForm .dontHave a {
      color: #0098ab; }
      .loginForm .dontHave a:hover {
        color: #f44000; }
  .loginForm .btn_red {
    width: 100%;
    padding: 15px 0;
    font-size: 1rem;
    font-weight: 400; }
  .loginForm .loginProblem {
    font-size: 0.75rem;
    text-align: center;
    margin-bottom: 0 !important; }
    .loginForm .loginProblem a {
      color: #f44000; }
      .loginForm .loginProblem a:hover {
        color: #0098ab; }
  .loginForm a.back {
    float: right;
    font-size: 12px;
    font-weight: 400;
    border: 1px solid #f44000;
    padding: 5px 15px;
    border-radius: 4px;
    color: #f44000; }
    .loginForm a.back:hover {
      border: 1px solid #0098ab;
      color: #0098ab; }

.cart_wrapper {
  display: block;
  border-top: 1px solid #f44000;
  padding: 50px 0; }
  .cart_wrapper .container {
    max-width: 1000px; }
  .cart_wrapper .title {
    font-size: 1.25rem;
    font-weight: 700;
    color: #333; }
  .cart_wrapper .cart_block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 0 0; }
    .cart_wrapper .cart_block .left {
      width: 60%;
      background: #fff;
      border-radius: 2px;
      box-shadow: 0 0 3px #d0d0d0; }
      .cart_wrapper .cart_block .left .cartBox {
        display: block;
        padding: 15px;
        border-bottom: 1px solid #ddd;
        font-size: 0.875rem;
        transition: all 0.3s; }
        .cart_wrapper .cart_block .left .cartBox:hover {
          background: #f8f8f8; }
        .cart_wrapper .cart_block .left .cartBox:last-child {
          border: 0; }
        .cart_wrapper .cart_block .left .cartBox .pro_name_price {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          color: #333;
          font-weight: 700;
          margin-bottom: 15px; }
          .cart_wrapper .cart_block .left .cartBox .pro_name_price span {
            display: block;
            font-size: 0.625rem;
            font-weight: 600;
            color: #999; }
            .cart_wrapper .cart_block .left .cartBox .pro_name_price span.pro_real_price {
              text-decoration: line-through; }
        .cart_wrapper .cart_block .left .cartBox .pro_remove_add {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          align-items: center;
          padding: 15px 0 0 0;
          font-size: 0.875rem; }
          .cart_wrapper .cart_block .left .cartBox .pro_remove_add i {
            font-size: 1.125rem;
            color: #f44000; }
          .cart_wrapper .cart_block .left .cartBox .pro_remove_add .remove {
            cursor: pointer; }
        .cart_wrapper .cart_block .left .cartBox .cart_number {
          max-width: 40px;
          text-align: center;
          height: 30px; }
        .cart_wrapper .cart_block .left .cartBox .dec_number, .cart_wrapper .cart_block .left .cartBox .add_number {
          width: 25px;
          line-height: 25px;
          display: inline-block;
          background: #ff6028;
          border: 0;
          color: #fff;
          font-size: 1.125rem;
          border-radius: 50%;
          outline: 0;
          cursor: pointer; }
        .cart_wrapper .cart_block .left .cartBox .add_number {
          background: #00c5de; }
    .cart_wrapper .cart_block .right {
      width: 36.5%; }
      .cart_wrapper .cart_block .right .right_box {
        background: #fff;
        border-radius: 2px;
        box-shadow: 0 0 3px #d0d0d0;
        margin-bottom: 15px;
        font-size: 0.75rem;
        padding: 10px; }
        .cart_wrapper .cart_block .right .right_box.pros_price_details {
          padding-bottom: 0; }
      .cart_wrapper .cart_block .right .login_toapplycup a {
        color: #0098ab; }
        .cart_wrapper .cart_block .right .login_toapplycup a:hover {
          color: #f44000; }
      .cart_wrapper .cart_block .right .mrp_box {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        flex-direction: row;
        padding: 10px;
        color: #333; }
        .cart_wrapper .cart_block .right .mrp_box.tobepaid {
          font-size: 0.9375rem;
          font-weight: 600; }
        .cart_wrapper .cart_block .right .mrp_box .checkoutlocation {
          color: #0093a6;
          font-size: 1rem;
          font-weight: 600; }
      .cart_wrapper .cart_block .right .totalsaving {
        background: #ffefea;
        margin: 0 -10px;
        padding: 10px 20px;
        font-size: 0.875rem;
        margin-top: 10px;
        color: #1a1a1a; }
        .cart_wrapper .cart_block .right .totalsaving span {
          color: green;
          font-weight: 600;
          padding-left: 10px;
          font-size: 1rem; }
      .cart_wrapper .cart_block .right .pros_checkout .btn_red {
        width: 100%;
        min-width: 100%; }

/*# sourceMappingURL=custom.css.map */

.pack_wrapper {
	display: flex;
	flex-wrap: wrap;
    flex-direction: row;
    margin: 0 -15px;
}
.packbox {
	display: block;
	padding: 15px 20px 0;
	border: 1px solid #ddd;
	margin: 15px;
	border-radius: 4px;
    width: 100%;
    box-shadow: 0 0 10px rgba(0,0,0,0.09);
    position: relative;
}
.packbox .title {
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
    padding-bottom: 30px;
    letter-spacing: -0.32px;
}

.pack_body p {
    margin: 0 0 15px;
}
.packbox .title span {
    display: block;
    font-size: 12px;
    font-weight: 500;
    color: #888;
    margin:5px 0;
}

.packbox .pack_body {
    display: none;
    width: 100%;
}

.packbox .pack_body p strong {
    display: block;
    padding: 0 0 10px 0;
}

.packbox .pack_body .pack_ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.packbox  .pack_ul li {
    width: 33.3333333%;
    margin: 0 0 15px;
    padding: 0 0 0 20px;
    position: relative;
    font-size: 13px;
    font-weight: 500;
    cursor: pointer;
}

.packbox  .pack_ul li.active {
    color: #ef5555;
}

.packbox  .pack_ul li:before {
    content: "\f105";
    font-family: 'FontAwesome';
    position: absolute;
    left: 0;
}

.select_appointmentdate {
    display: block;
    margin: 0 -30px 0 ;
    border-top: 1px solid #ddd;
    padding:30px;
    background: #f8f8f8;
    min-width: 100%;
}

.select_appointmentdate li {
    font-size: 13px;
    font-weight: 500;
    margin: 0 0 15px;
    display: inline-block;
    width:49%;    
}

.select_appointmentdate li.test-name{
    display: block;
    font-size: 20px;
    padding-bottom: 10px;
    width: 100%;
}
.select_appointmentdate li label {
    display: block;
}
.select_appointmentdate li input {
    width: 100%;
    height: 30px;
    outline: 0;
    border-radius: 4px;
    border: 1px solid #ddd;
    padding: 0 15px;
}
.select_appointmentdate li:last-child{
    width: 100%;
}
.select_appointmentdate li a {
    background: green;
    display: inline-block;
    padding: 7px 20px;
    border-radius: 5px;
    color: #fff;
}

div#popUpModal {
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(0,0,0,0.8);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s;
}
div#popUpModal.open {
    visibility: visible;
    opacity: 1;
}

.modal-body {
    max-width: 340px;
    padding: 15px;
    background: #fff;
    text-align: center;
    font-size: 14px;
    position: relative;
    line-height: 1.7;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
}

button.close {
    position: absolute;
    right: -10px;
    top: -15px;
    width: 30px;
    height: 30px;
    background: red;
    color: #fff;
    border: 0;
    border-radius: 50%;
    cursor: pointer;
    outline: 0;
}

.greenColor {
    color:#1abc9c !important;
}

.blueColor {
    color: #3498db !important;
}

.magentaColor {
    color: #8e44ad !important;
}

.orangeColor {
    color: #e67e22 !important;
}

h1 {
    padding: 0 0 25px 0;
    font-size: 22px;
    color: #333;
}

.bookapoinment {
    background-color: #1abc9c !important;
    display: inline-block;
    max-width: 300px;
    margin: 30px 0;
    text-align: center;
    color: #fff;
    padding: 10px 15px;
    border-radius: 4px;
    outline: 0;
    border: 0;
    cursor: pointer;
}


.form_block {
    display: block;
}

.form-group {
    display: block;
    margin-bottom: 15px;
}
.form-group  label {
    display: block;
    font-size: 13px;
    font-weight: 500;
    padding:0 0 5px;
}

textarea {
    width: 70%;
    border-radius:5px; 
	border: 1px solid #ddd;
	outline:0;
}


.tabs {
    display: block;
    padding-bottom: 20px;
}

.tabs a {
    display: inline-block;
    border-radius: 5px;
    border: 1px solid ;
    margin-right: 10px;
    padding: 10px 10px;
    font-size: 13px;
    color: #f16022;
}
.tabs a.active {
    background: #f16022;
    color: #fff;
}

a.homebtn {
    float: right;
    color: #fff;
}

.bookapoinment {
    background-color: #1abc9c !important;
    display: inline-block;
    max-width: 300px;
    margin: 30px 0;
    text-align: center;
    color: #fff;
    padding: 10px 15px;
    border-radius: 4px;
    outline: 0;
    border: 0;
    cursor: pointer;
    margin: auto;
    font-size: 12px;
}
.bookapoinment:hover{
    background: #83ad0f !important;
}



.titleblock {
	display: flex;
	justify-content: space-between;
}

.price_block {
	position: relative;
	border-left: 1px solid #ddd;
	padding-left: 15px;
	margin-bottom: 15px;
}

.offertag {
	position: absolute;
	top: -26px;
	background:#368a03;
	padding: 5px;
	font-size: 11px;
	text-transform: uppercase;
	color: #fff;
    padding: 3px 5px;
    border-radius: 0 3px 3px 3px;
    right: 0;
}
.offertag:before{
    content: '';
}
.offertag::before {
	content: '';
	position: absolute;
	border-top: 10px solid transparent;
	border-left: 10px solid #618961;
	right: -9px;
	top: 0;
}

.price_block .price {
	position: relative;
	padding-bottom: 10px;
	display: block;
    padding-top: 20px;
    text-align: right;
}

.price_block .realPrice {
    text-decoration: line-through;
    font-size: 12px;
    opacity: 0.2;
    margin-right: 5px;
}

.price_block  .offerPrice {
	font-size: 21px;
	font-weight: 700;
	color: #1C953B;
}

.bkap_wrap {
	position: absolute;
	top: 100px;
	background: #fff;
	min-width: 700px;
	box-shadow: 0 0 5px rgba(0,0,0,0.3);
	padding: 20px;
    font-size: 11px;
    max-width: 700px;
    display: none;
	z-index:999;
	right: 0;
}

.time_ul {
	display: flex;
	flex-wrap: wrap;
    flex-direction: row;
    margin-top: 15px;
}
.time_ul li {
	min-width: 16%;
	margin-bottom: 5px;
}
.time_ul li label {
    cursor: pointer;
}

.date-list {
    max-width:92%;
    margin: 15px auto;
}

.date-list .owl-prev, .date-list .owl-next {
	position: absolute;
	left: -40px;
	top: 50%;
	transform: translateY(-50%);
	width: 30px;
	line-height: 30px;
	background: #f16022;
	color: #fff;
	text-align: center;
	border-radius: 50%;
	font-size: 20px;
}
.date-list .owl-next{
	left:inherit;
	right:-40px;
}

.dateBox {
    display: block;
    border: 1px solid #ddd;
    padding: 15px;
    text-align: center;
}

.dateBox span {
    display: block;
}

.dateBox .day {
	display: block;
	font-size: 14px;
	font-weight: 500;
}
.dateBox span.date {
    opacity: 0.6;
}


.bkap_wrap .close {
	width: 30px;
	height: 30px;
	background: red;
	text-align: center;
	line-height: 30px;
	color: #fff;
	border-radius: 50%;
	position: absolute;
	right: 0;
	top: -10px;
	right: -10px;
	cursor: pointer;
}

.wrapper {
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.erorrClass {
    display: block;
    text-align: center;
    border: 1px solid red;
    color: red;
    font-size: 12px;
    padding: 5px;
    border-radius: 4px;
    margin-bottom: 5px;
}
