
@media(min-width:992px) and (max-width:1199px){
.container {max-width:980px}
.client_talsk .client_slider {margin: 20px auto 0 auto;	max-width: 830px;}
.banner_block .container .filter_section .filter_form_block .filter_form .select_category {min-width:350px;}
.discover_the_block .step_container {margin:0}
.discover_the_block .step_container .step_box {width: calc(33.333333333% - 20px);	margin: 0 10px;	padding:30px 20px;}
.banner_block .container .filter_section {padding-top: 68px;}
.banner_block .container .filter_section h1 {font-size:1.4rem; padding-bottom: 0;}
.business_solutions .business_solutions_image img {max-width:350px}
}
@media(min-width:768px) and (max-width:991px){
.container {max-width:750px}
.logo img {max-width: 165px;}
.logo_block .container ul.top_nav li a {font-size: 0.775rem; padding: 0 10px;}
.banner_img {display: none;}
.banner_block .container .filter_section {width: 100%;padding: 20px 0; margin:0}
.banner_block .container .filter_section h1 {font-size:1.4rem; padding-bottom: 0;}
.heading_main {font-size: 1.3rem;}
.subtitle {font-size:1rem;}
.discover_the_block .step_container {margin:0}
.discover_the_block .step_container .step_box {width: calc(33.333333333% - 20px);	margin: 0 10px;	padding:30px 20px;}
.discover_the_block .step_container .step_box .d_title {font-size:1rem;}
.care_mediwheel .box .left_box .box_inside {padding:10px;}
.footer .ftr_right {padding:10px; width:30%;}
.footer .ftr_right .title {font-size:1rem;}
.footer .ftr_left {width:68%;}
.client_talsk .client_slider {margin: 20px auto 0 auto;	max-width: 600px;}
.business_solutions .business_solutions_image img {max-width:350px}
}
@media(max-width:767px){
.container {padding:0 15px;}
.logo img {max-width: 130px;}
/* .logo_block .container ul.top_nav {display:none;} */
.banner_block .container .banner_img {display:none;}
.banner_block .container .filter_section h1 {display:none;}
.banner_block .container .filter_section {width: 100%;	padding: 30px 0;	margin: 0;}
.banner_block .container .filter_section .filter_form_block .filter_form .select_category {min-width:inherit}
.banner_block .container .filter_section .search_tabs {flex-wrap:wrap;}
.banner_block .container .filter_section .search_tabs li {min-width: 25%; margin-bottom: 20px;}

.heading_main {font-size:18px;}
.subtitle {font-size:14px;}
.care_mediwheel p {padding:0}
.care_mediwheel .box .left_box {width:100%;}
.care_mediwheel .box {flex-wrap:wrap;}
.banner_block .container .filter_section .filter_form_block .filter_form .location {min-width: 20%;}
.banner_block .container .filter_section .filter_form_block .filter_form .select_category {min-width: 60%;}
.banner_block .container .filter_section .filter_form_block .filter_form .filter_btn {min-width: 20%;}
.footer .ftr_left .frt_item {width: 50%;padding: 0 15px;}
.footer .ftr_left {width: 100%;}
.footer .ftr_left .frt_item:last-child {width: 50%; margin-bottom: 0;}
.footer .ftr_right {width: 100%;margin: 15px;}
.business_solutions .business_solutions_image img {max-width:300px}
}

@media(max-width:609px) {
.banner_block .container .filter_section .filter_form_block .filter_form .location {display:none !important;}
.banner_block .container .filter_section .filter_form_block .filter_form .select_category {min-width: 60%;}
.banner_block .container .filter_section .filter_form_block .filter_form .filter_btn {min-width: 40%;}
}

@media(min-width:501px) and (max-width:767px) {
.top_header .left_top {	width:60%;}
.top_header .right_top {width: 40%;}

}

@media(max-width:500px){
.top_header .left_top {	display: none;}
.top_header .right_top {width: 100%;}
.top_header .right_top ul {width: 100%;	justify-content: center;}
.banner_block .container .filter_section .search_tabs li {min-width: 30%; margin-bottom: 20px;}	
}
@media(max-width:479px){
.form_group.location {display: none;}
.logo_block .container ul.top_nav li:first-child, .logo_block .container ul.top_nav li:nth-child(2) {display: none;}
.banner_block .container .filter_section .search_tabs {padding-top: 0;}
.banner_block .container .filter_section .search_tabs li {margin-bottom: 10px;}
.business_solutions {	padding: 28px 0 0;}
.care_mediwheel {padding:25px 0;}


.footer .ftr_left .frt_item {width: 100%;padding: 0 15px;}
.footer .ftr_left {width: 100%;}
.footer .ftr_left .frt_item:last-child {width: 100%; margin-bottom: 20px;}
.footer .ftr_right {width: 100%;margin: 15px;}
.footer .copyright .container {padding: 0 15px;}
.footer .copyright {padding:5px 0}
.footer .container {padding: 20px 0 0;}
.footer .ftr_right .title {font-size:14px; 	padding-bottom: 10px;}
.appstoreimg img {max-width: 120px;}
.banner_block .container .filter_section .filter_form_block {overflow:hidden}


.banner_block .container .filter_section .filter_form_block .filter_form .select_category {min-width: 60%;}
.banner_block .container .filter_section .filter_form_block .filter_form .filter_btn {min-width: 40%;}
}

@media(max-width:321px){
	
}